/* GPLv3 license
Flexcyon - Callout Colors
Author: bladeacer (@data_in_void in Discord)
*/

body {
    --flexcyon-callout-bg-opacity: 20%;
}

@mixin callout-color($color-name, $color-var) {

    div.callout[data-callout-metadata*="all-#{$color-name}"],
    div.callout[data-callout-metadata*="bg-#{$color-name}"] {
        background-color: rgba(var(--#{$color-var}-rgb), var(--flexcyon-callout-bg-opacity));
    }

    div.callout[data-callout-metadata*="all-#{$color-name}"],
    div.callout[data-callout-metadata*="title-#{$color-name}"] {

        .callout-title,
        .callout-icon .svg-icon {
            color: var(--#{$color-var});
        }
    }
}

@include callout-color("yellow", "color-yellow");
@include callout-color("blue", "color-blue");
@include callout-color("purple", "color-purple");
@include callout-color("red", "color-red");
@include callout-color("cyan", "color-cyan");
@include callout-color("pink", "color-pink");
@include callout-color("green", "color-green");
@include callout-color("orange", "color-orange");