/* GPLv3 license
Note Accent Colors
Author: ElsaTam (Kapirklaa in Discord)
*/

/* @settings

name: Note accent color
id: note-accent-color
settings:
    -
        id: note-accent-1
        title: Note accent Color 1
        type: variable-themed-color
        opacity: false
        format: hsl-split
        default-light: '#ef476f'
        default-dark: '#ce3f61'
    -
        id: note-accent-2
        title: Note accent Color 2
        type: variable-themed-color
        opacity: false
        format: hsl-split
        default-light: '#f78c6b'
        default-dark: '#d57a5e'
    -
        id: note-accent-3
        title: Note accent Color 3
        type: variable-themed-color
        opacity: false
        format: hsl-split
        default-light: '#ffba1a'
        default-dark: '#dca119'
    -
        id: note-accent-4
        title: Note accent Color 4
        type: variable-themed-color
        opacity: false
        format: hsl-split
        default-light: '#0a916e'
        default-dark: '#07a47b'
    -
        id: note-accent-5
        title: Note accent Color 5
        type: variable-themed-color
        opacity: false
        format: hsl-split
        default-light: '#118ab2'
        default-dark: '#0d76a3'
    -
        id: note-accent-6
        title: Note accent Color 6
        type: variable-themed-color
        opacity: false
        format: hsl-split
        default-light: '#073b4c'
        default-dark: '#1f5e6e'

*/

body.theme-light {
    --note-accent-1-h: 345.7;
    --note-accent-1-s: 84%;
    --note-accent-1-l: 60.8%;
    
    --note-accent-2-h: 14.1;
    --note-accent-2-s: 89.7%;
    --note-accent-2-l: 69.4%;
    
    --note-accent-3-h: 42;
    --note-accent-3-s: 82%;
    --note-accent-3-l: 48%;
    
    --note-accent-4-h: 164;
    --note-accent-4-s: 87%;
    --note-accent-4-l: 30%;
    
    --note-accent-5-h: 194.9;
    --note-accent-5-s: 82.6%;
    --note-accent-5-l: 38.2%;
    
    --note-accent-6-h: 194.8;
    --note-accent-6-s: 83.1%;
    --note-accent-6-l: 16.3%;
}

body.theme-dark {
    --note-accent-1-h: 346;
    --note-accent-1-s: 59%;
    --note-accent-1-l: 53%;
    
    --note-accent-2-h: 14;
    --note-accent-2-s: 59%;
    --note-accent-2-l: 60%;
    
    --note-accent-3-h: 42;
    --note-accent-3-s: 80%;
    --note-accent-3-l: 48%;
    
    --note-accent-4-h: 164;
    --note-accent-4-s: 92%;
    --note-accent-4-l: 34%;
    
    --note-accent-5-h: 198;
    --note-accent-5-s: 85%;
    --note-accent-5-l: 35%;
    
    --note-accent-6-h: 192;
    --note-accent-6-s: 56%;
    --note-accent-6-l: 28%;
}

.note-accent-1 {
    --accent-h: var(--note-accent-1-h);
    --accent-s: var(--note-accent-1-s);
    --accent-l: var(--note-accent-1-l);
}
.note-accent-2 {
    --accent-h: var(--note-accent-2-h);
    --accent-s: var(--note-accent-2-s);
    --accent-l: var(--note-accent-2-l);
}
.note-accent-3 {
    --accent-h: var(--note-accent-3-h);
    --accent-s: var(--note-accent-3-s);
    --accent-l: var(--note-accent-3-l);
}
.note-accent-4 {
    --accent-h: var(--note-accent-4-h);
    --accent-s: var(--note-accent-4-s);
    --accent-l: var(--note-accent-4-l);
}
.note-accent-5 {
    --accent-h: var(--note-accent-5-h);
    --accent-s: var(--note-accent-5-s);
    --accent-l: var(--note-accent-5-l);
}
.note-accent-6 {
    --accent-h: var(--note-accent-6-h);
    --accent-s: var(--note-accent-6-s);
    --accent-l: var(--note-accent-6-l);
}

/* Recomputation at the note level */
.markdown-source-view,
.markdown-preview-view {
    /* Recompute the --color-accent variables */
    --color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
    --color-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --color-accent-1: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
    --color-accent-2: hsl(calc(var(--accent-h) - 5), calc(var(--accent-s) * 1.05), calc(var(--accent-l) * 1.29));

    /* Recompute all variables directly depending on --color-accent variables */
    --interactive-accent-hsl: var(--color-accent-hsl);
    --interactive-accent: var(--color-accent);
    --interactive-accent-hover: var(--color-accent-1);
    --text-accent: var(--color-accent-1);
    --text-accent-hover: var(--color-accent-2);

    /* Recompute everything else */

    /* Links */
    --link-color: var(--text-accent);
    --link-color-hover: var(--text-accent-hover);
    --link-external-color: var(--text-accent);
    --link-external-color-hover: var(--text-accent-hover);
    --link-unresolved-color: var(--text-accent);
    --link-unresolved-decoration-color: hsla(var(--interactive-accent-hsl), 0.3);
    --list-marker-color-collapsed: var(--text-accent);

    /* Blockquotes */
    --blockquote-border-color: var(--interactive-accent);

    /* Checkboxes */
    --checkbox-color: var(--interactive-accent);
    --checkbox-color-hover: var(--interactive-accent-hover);

    /* Tables */
    --table-selection: hsla(var(--color-accent-hsl), 0.1);
    --table-selection-border-color: var(--interactive-accent);
    --table-drag-handle-color-active: var(--text-on-accent);

    /* Tags */
    --tag-color: var(--text-accent);
    --tag-color-hover: var(--text-accent);
    --tag-background: hsla(var(--interactive-accent-hsl), 0.1);
    --tag-background-hover: hsla(var(--interactive-accent-hsl), 0.2);
    --tag-border-color: hsla(var(--interactive-accent-hsl), 0.15);
    --tag-border-color-hover: hsla(var(--interactive-accent-hsl), 0.15);

    /* Other */
    --text-selection: hsla(var(--interactive-accent-hsl), 0.25);
    --icon-color-active: var(--text-accent);
    --collapse-icon-color-collapsed: var(--text-accent);
    --divider-color-hover: var(--interactive-accent);
    --embed-border-start: 2px solid var(--interactive-accent);
    --background-modifier-active-hover: hsla(var(--interactive-accent-hsl), 0.15);
}