/* GPLv3 license
Callout Timeline
Author: ElsaTam (Kapirklaa in Discord)
*/


/* Variables */
.callout[data-callout="timeline"] {
    /* main callout */
    --callout-icon: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="9.5361595" r="7.7601452" style="stroke-width:1.5"/><polyline points="12 6 12 12 16 14" transform="matrix(0.77601453,0,0,0.77601453,2.6878256,0.22398547)"/><circle cx="12.092106" cy="20.717064" r="1" /><circle cx="19.092106" cy="20.717064" r="1"/><circle cx="5.0921063" cy="20.717064" r="1"/><path style="stroke-width:1.5;" d="M 5.0921062,20.717063 H 19.092106"/></svg>';
    --callout-blend-mode: normal;
    --callout-border-width: 1px;
    --callout-padding: var(--size-4-2);

    /* grid */
    --col-gap: 20px;
    --row-gap: 20px;

    /* line */
    --line-thickness: 3px;
    --line-color: rgb(var(--callout-color));
    --line-fade-width: 50px;

    /* cards */
    --card-border-width: 5px;
    --card-border-opacity: 1;
    --card-padding: var(--size-4-3);
    --card-shadow-offset: 4px;
    --card-shadow-blur: 8px;
    --card-shadow-overflow: calc(var(--card-shadow-offset) + var(--card-shadow-blur));

    /* bullet */
    --bullet-size: 10px;
    --bullet-numbered-size: 20px;
    --bullet-radius: 50%;
    --bullet-color: var(--background-primary);
    --bullet-border-width: 2px;
    --bullet-border-color: var(--line-color);

    /* segment */
    --segment-border-color: var(--line-color);

    /* for nested elements */
    .callout {
        --bullet-border-color: rgb(var(--callout-color));
        --segment-border-color: rgb(var(--callout-color));
    }
    --blockquote-border-thickness: 0;
}
.callout[data-callout="timeline"][data-callout-metadata~="horizontal"] {
    --cards-width: 300px;
    --cards-height: 200px;
}

/* General styling */
.callout[data-callout="timeline"] {
    background: none; 

    .callout-icon svg { fill: none; }
    .callout-title { margin-bottom: var(--size-4-3); }

    > .callout-content {
        display: grid;
        position: relative;
        padding: 0;
        
        /* for any child */
        > * {
            box-shadow: var(--card-shadow-offset) var(--card-shadow-offset) var(--card-shadow-blur) rgba(0, 0, 0, 0.4);
            padding: var(--card-padding);
        }
        
        /* for callout children */
        > .callout {
            --callout-title-size: 0.8em;
            padding: 0;
            .callout-title {
                justify-content: flex-end;
                padding: var(--size-2-2);
            }
            > .callout-content {
                padding: 0 var(--card-padding) var(--card-padding) var(--card-padding);
                flex-grow: 1;
            }
        }

        /* for non callout children */
        > :not(.callout) {
            background-color: rgba(var(--callout-color), 0.1);
        }

        /* for paragraphs (indirect */
        p:first-child { margin-top: 0; }
        p:last-child  { margin-bottom: 0; }
    }
}

/* Bullets style */
.callout[data-callout="timeline"] > .callout-content > *::after {
    content: "";
    width: var(--bullet-size);
    height: var(--bullet-size);
    border-radius: var(--bullet-radius);
    background-color: var(--bullet-color);
    border: var(--bullet-border-width) solid var(--bullet-border-color);
    position: absolute;
}

/* Segment style */
.callout[data-callout="timeline"] > .callout-content > *::before {
    content: "";
    background-color: var(--segment-border-color);
    position: absolute;
}


/* Vertical timeline (default) */
.callout[data-callout="timeline"]:not([data-callout-metadata~="horizontal"]) > .callout-content {
    grid-template-columns: 1fr var(--line-thickness) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    padding-right: var(--card-shadow-overflow);

    align-items: center; /* prevent vertical stretching, and center */

    /* background vertical line */
    &::after {
        content: "";
        grid-column: 2;
        grid-row: 1 / span 100;
        background-color: var(--line-color);
        -webkit-mask-image: linear-gradient(
                to bottom,
                transparent,
                black var(--line-fade-width),
                black calc(100% - var(--line-fade-width)),
                transparent
            );
        -webkit-mask-size: 100%;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        align-self: stretch;
    }

    /* Second element, shifted */
    > *:nth-child(2) { grid-row: 2/4; }
    
    /* Any direct child */
    > * {
        grid-row: span 2; /* span two rows */
        margin-right: 0;
        margin-left: 0;
        position: relative;
        overflow: visible; /* needed for the shadow */
        z-index: 1;
    }

    /* Left column blocks */
    > *:nth-child(odd) {
        grid-column: 1;
        border-right: var(--card-border-width) solid rgba(var(--callout-color), var(--card-border-opacity));

        &::after  { right: var(--shift-bullet);  }
        &::before { right: var(--shift-segment); }
    }

    /* Right column blocks */
    > *:nth-child(even) {
        grid-column: 3;
        border-left: var(--card-border-width) solid rgba(var(--callout-color), var(--card-border-opacity));

        &::after  { left: var(--shift-bullet);  }
        &::before { left: var(--shift-segment); }
    }

    /* bullet */
    > *::after {
        top: calc(50% - var(--bullet-size) * 0.5 - var(--bullet-border-width));
        --shift-bullet: calc(-1 * (
              var(--bullet-size) * 0.5
            + var(--bullet-border-width) 
            + var(--col-gap)
            + var(--card-border-width)
            + var(--line-thickness) * 0.5
        ));
    }

    /* segment */
    > *::before {
        height: var(--line-thickness);
        width: var(--col-gap);
        top: calc(50% - var(--line-thickness) * 0.5);
        --shift-segment: calc(-1 * (
              var(--col-gap)
            + var(--card-border-width)
        ));
    }
}


/* Horizontal timeline */
.callout[data-callout="timeline"][data-callout-metadata~="horizontal"] > .callout-content {
    grid-template-rows: auto var(--line-thickness) auto;
    grid-auto-rows: max-content;
    grid-auto-columns: minmax(auto, 1fr);
    overflow-x: auto;
    --padding-bottom: var(--card-shadow-overflow);
    padding-bottom: var(--padding-bottom);
    row-gap: var(--row-gap);


    /* horizontal line */
    &::after {
        content: "";
        grid-row: 2;
        grid-column: 1 / span 100;
        background-color: var(--line-color);
        -webkit-mask-image: linear-gradient(
                to right,
                transparent,
                black var(--line-fade-width),
                black calc(100% - var(--line-fade-width)),
                transparent
            );
        -webkit-mask-size: 100% 100%;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
    }

    /* Second element, shifted */
    > *:nth-child(2) { grid-column: 2 / 4; }
    
    /* Any direct child */
    > * {
        grid-column: span 2; /* span two columns */
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        overflow: visible;
        margin-right: var(--col-gap);
        width: var(--cards-width);
        z-index: 1;

        &.callout {
            display: flex;
            flex-direction: column;
        }
        .callout-content {
            height: 100%;
            overflow: auto;
        }
    }

    /* Top row blocks */
    > *:nth-child(odd) {
        grid-row: 1;
        border-bottom: var(--card-border-width) solid rgba(var(--callout-color), var(--card-border-opacity));
        align-self: flex-end;

        &::after  { bottom: var(--shift-bullet);  }
        &::before { bottom: var(--shift-segment); }

        /* Inverse title/content of callouts */
        &.callout {
            flex-direction: column-reverse;
            .callout-fold { transform: scaleY(-1); }
        }
        &.callout.is-collapsed { align-self: flex-end; } /* Prevent stretching when collapsed */
    }

    /* Bottom row blocks */
    > *:nth-child(even) {
        grid-row: 3;
        border-top: var(--card-border-width) solid rgba(var(--callout-color), var(--card-border-opacity));
        align-self: flex-start;

        &::after  { top: var(--shift-bullet);  }
        &::before { top: var(--shift-segment); }

        &.callout.is-collapsed { align-self: flex-start; } /* Prevent stretching when collapsed */
    }

    /* bullet */
    > *::after {
        left: calc(50% - var(--bullet-size) * 0.5 - var(--bullet-border-width));
        --shift-bullet: calc(-1 * (
            var(--bullet-size) * 0.5
            + var(--bullet-border-width)
            + var(--row-gap)
            + var(--card-border-width)
        ));
    }

    /* segment */
    > *::before {
        width: var(--line-thickness);
        height: var(--col-gap);
        left: calc(50% - var(--line-thickness) * 0.5);
        --shift-segment: calc(-1 * (
              var(--row-gap)
              + var(--card-border-width)
        ));
    }
}


/* Specific colors */
.callout[data-callout="timeline"][data-callout-metadata~="red"]    { --callout-default: var(--color-red-rgb); }
.callout[data-callout="timeline"][data-callout-metadata~="orange"] { --callout-default: var(--color-orange-rgb); }
.callout[data-callout="timeline"][data-callout-metadata~="yellow"] { --callout-default: var(--color-yellow-rgb); }
.callout[data-callout="timeline"][data-callout-metadata~="green"]  { --callout-default: var(--color-green-rgb); }
.callout[data-callout="timeline"][data-callout-metadata~="cyan"]   { --callout-default: var(--color-cyan-rgb); }
.callout[data-callout="timeline"][data-callout-metadata~="blue"]   { --callout-default: var(--color-blue-rgb); }
.callout[data-callout="timeline"][data-callout-metadata~="purple"] { --callout-default: var(--color-purple-rgb); }
.callout[data-callout="timeline"][data-callout-metadata~="pink"]   { --callout-default: var(--color-pink-rgb); }

.callout[data-callout="timeline"] {
    .callout[data-callout-metadata~="red"]    { --callout-color: var(--color-red-rgb); }
    .callout[data-callout-metadata~="orange"] { --callout-color: var(--color-orange-rgb); }
    .callout[data-callout-metadata~="yellow"] { --callout-color: var(--color-yellow-rgb); }
    .callout[data-callout-metadata~="green"]  { --callout-color: var(--color-green-rgb); }
    .callout[data-callout-metadata~="cyan"]   { --callout-color: var(--color-cyan-rgb); }
    .callout[data-callout-metadata~="blue"]   { --callout-color: var(--color-blue-rgb); }
    .callout[data-callout-metadata~="purple"] { --callout-color: var(--color-purple-rgb); }
    .callout[data-callout-metadata~="pink"]   { --callout-color: var(--color-pink-rgb); }
}

/* No icon */
.callout[data-callout="timeline"] [data-callout-metadata~="no-icon"] .callout-icon { display: none; }
.callout[data-callout="timeline"][data-callout-metadata~="no-icon"] .callout-icon { display: none; }

/* Numbered timelines */
.callout[data-callout="timeline"][data-callout-metadata~="numbered"] > .callout-content  {
    counter-reset: bullet;
}
.callout[data-callout="timeline"][data-callout-metadata~="numbered"] > .callout-content > .callout:not([data-callout-metadata~="skip"])::after,
.callout[data-callout="timeline"][data-callout-metadata~="numbered"] > .callout-content > :not(.callout)::after {
    --bullet-size: var(--bullet-numbered-size);
    --bullet-color: var(--bullet-border-color);
    counter-increment: bullet;
    content: counter(bullet);
    display: flex;
    justify-content: center;
    font-size: calc(var(--bullet-size) - var(--bullet-border-width));
    line-height: 1;
    color: var(--color-base-00);
    font-weight: var(--font-bold);
}


