@charset "UTF-8";
/* GPLv3 license
FAS - Callout Cite
Author: ElsaTam (Kapirklaa in Discord)
*/
body {
  --cite-decoration-width: 50px;
}

.is-mobile {
  --cite-decoration-width: 30px;
}

.callout[data-callout~=cite],
.callout[data-callout~=quote] {
  font-style: italic;
  position: relative;
  padding-inline-start: calc(var(--cite-decoration-width) + 5px);
  background: none;
  border: none;
  border-inline-start: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
}
.callout[data-callout~=cite] .callout-title,
.callout[data-callout~=quote] .callout-title {
  display: none;
}
.callout[data-callout~=cite] .callout-content,
.callout[data-callout~=quote] .callout-content {
  border: none;
  padding: 0;
}
.callout[data-callout~=cite] .callout-content > :first-child,
.callout[data-callout~=quote] .callout-content > :first-child {
  margin-top: 0;
}
.callout[data-callout~=cite] .callout-content > :plast-child,
.callout[data-callout~=quote] .callout-content > :plast-child {
  margin-bottom: 0;
}
.callout[data-callout~=cite] cite::after,
.callout[data-callout~=quote] cite::after {
  content: "“";
  position: absolute;
  font-style: italic;
  text-align: left;
  font-size: calc(var(--cite-decoration-width) * 2);
  line-height: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--cite-decoration-width);
  color: var(--color-accent);
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);
}
.callout[data-callout~=cite] cite,
.callout[data-callout~=quote] cite {
  display: block;
  margin-top: 10px;
  font-style: normal;
  color: var(--text-muted);
  text-align: right;
}
