/* GPLv3 license
FAS - Callout Blank
Author: ElsaTam (Kapirklaa in Discord)
*/
.callout[data-callout=blank] {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
.callout[data-callout=blank] > .callout-content {
  padding: 0;
  background: none;
  border: none;
}
.callout[data-callout=blank] > .callout-title {
  display: none;
}
