/* GPLv3 license
FAS - Callout Tooltip
Author: ElsaTam (Kapirklaa in Discord)
*/
.callout[data-callout=tooltip] {
  border: none;
  background: none;
  width: fit-content;
  height: fit-content;
}
.callout[data-callout=tooltip] .callout-title {
  position: absolute;
  right: calc(var(--size-4-2) + var(--image-shadow-offset, 0px));
  top: var(--size-4-2);
  border: none;
  box-shadow: 0 2px 8px var(--background-modifier-box-shadow);
  background-color: var(--background-modifier-message);
  border-radius: var(--radius-s);
  color: #FAFAFA;
  font-size: var(--font-ui-smaller);
  font-weight: var(--font-medium);
  line-height: var(--line-height-tight);
  max-width: 300px;
  padding: 4px 8px;
  text-align: center;
  z-index: var(--layer-tooltip);
  pointer-events: none;
  display: none;
}
.callout[data-callout=tooltip]:hover .callout-title {
  display: flex;
}
.callout[data-callout=tooltip] .callout-icon {
  display: none;
}
.callout[data-callout=tooltip] .callout-content {
  padding: 0;
  border: none;
}
.callout[data-callout=tooltip] .callout-content > :first-child {
  margin-top: 0;
}
.callout[data-callout=tooltip] .callout-content > :plast-child {
  margin-bottom: 0;
}

.callout[data-callout=tooltip] {
  --callout-padding: 0;
  --callout-radius: 0;
  position: relative;
}
