/* GPLv3 license
FAS - Callout Grid
Author: ElsaTam (Kapirklaa in Discord)
*/
/* Compatibility with ITS theme/snippets */
.markdown-source-view > div, .markdown-preview-view {
  container: markdown-view/inline-size;
}

.callout[data-callout=grid] {
  background: none;
  border: none;
  padding: 0;
}
.callout[data-callout=grid] > .callout-title {
  display: none;
}
.callout[data-callout=grid] > .callout-content {
  border: none;
  display: grid;
  align-items: flex-start;
  gap: 10px;
  padding: 0;
}
.callout[data-callout=grid] > .callout-content.callout-content > * {
  margin: 0;
}
.callout[data-callout=grid][data-callout-metadata~=col-2] > .callout-content {
  grid-template-columns: repeat(2, 1fr);
}
.callout[data-callout=grid][data-callout-metadata~=col-3] > .callout-content {
  grid-template-columns: repeat(3, 1fr);
}
.callout[data-callout=grid][data-callout-metadata~=col-4] > .callout-content {
  grid-template-columns: repeat(4, 1fr);
}
.callout[data-callout=grid][data-callout-metadata~=col-5] > .callout-content {
  grid-template-columns: repeat(5, 1fr);
}
.callout[data-callout=grid][data-callout-metadata~=col-6] > .callout-content {
  grid-template-columns: repeat(6, 1fr);
}

@container markdown-view (700px < width < 850px) {
  .callout[data-callout=grid][data-callout-metadata~=col-6] > .callout-content {
    grid-template-columns: repeat(5, 1fr);
  }
}
@container markdown-view (550px < width < 700px) {
  .callout[data-callout=grid][data-callout-metadata~=col-5] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-6] > .callout-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@container markdown-view (400px < width < 550px) {
  .callout[data-callout=grid][data-callout-metadata~=col-4] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-5] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-6] > .callout-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@container markdown-view (width < 400px) {
  .callout[data-callout=grid][data-callout-metadata~=col-3] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-4] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-5] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-6] > .callout-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media print {
  .print .markdown-preview-view [data-callout=grid] > .callout-content {
    display: grid !important;
  }
}
@media print and (700px < width < 850px) {
  .callout[data-callout=grid][data-callout-metadata~=col-6] > .callout-content {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media print and (550px < width < 700px) {
  .callout[data-callout=grid][data-callout-metadata~=col-5] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-6] > .callout-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media print and (400px < width < 550px) {
  .callout[data-callout=grid][data-callout-metadata~=col-4] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-5] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-6] > .callout-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media print and (width < 400px) {
  .callout[data-callout=grid][data-callout-metadata~=col-3] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-4] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-5] > .callout-content,
  .callout[data-callout=grid][data-callout-metadata~=col-6] > .callout-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
