/* GPLv3 license
FAS - Callout Film strip
Author: ElsaTam (Kapirklaa in Discord)
*/
body {
  --callout-fwi-height: 70px;
  --callout-fwi-title-shadow: 0px 0px 0.1em rgb(var(--mono-rgb-0)), 0px 0px 0.2em rgb(var(--mono-rgb-0)), 0px 0px 0.5em rgb(var(--mono-rgb-0));
  --callout-fwi-title-blur: 5px;
  --fwi-height: var(--callout-fwi-height);
  --fwi-title-shadow: var(--callout-fwi-title-shadow);
  --fwi-title-blur: var(--callout-fwi-title-blur);
}

.callout:is([data-callout=full-width-image], [data-callout=full-w-img], [data-callout=fwi], [data-callout="full-width-panoramic-image-:jack_o_lantern:"], [data-callout=fwpi-jol]) {
  --callout-padding: 0;
  --callout-content-padding: 0;
  --callout-border-width: 0;
  --callout-blend-mode: normal;
  --image-shadow-offset: 0;
  --p-spacing: 0;
  position: relative;
}
.callout:is([data-callout=full-width-image], [data-callout=full-w-img], [data-callout=fwi], [data-callout="full-width-panoramic-image-:jack_o_lantern:"], [data-callout=fwpi-jol]) .callout-content {
  font-size: 0;
}
.callout:is([data-callout=full-width-image], [data-callout=full-w-img], [data-callout=fwi], [data-callout="full-width-panoramic-image-:jack_o_lantern:"], [data-callout=fwpi-jol]) img {
  height: var(--fwi-height);
  width: 100%;
  object-fit: cover;
}
.callout:is([data-callout=full-width-image], [data-callout=full-w-img], [data-callout=fwi], [data-callout="full-width-panoramic-image-:jack_o_lantern:"], [data-callout=fwpi-jol]) .callout-icon {
  display: none;
}
.callout:is([data-callout=full-width-image], [data-callout=full-w-img], [data-callout=fwi], [data-callout="full-width-panoramic-image-:jack_o_lantern:"], [data-callout=fwpi-jol]) .callout-title {
  background: none;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-shadow: var(--fwi-title-shadow);
  z-index: 1;
}
.callout:is([data-callout=full-width-image], [data-callout=full-w-img], [data-callout=fwi], [data-callout="full-width-panoramic-image-:jack_o_lantern:"], [data-callout=fwpi-jol])[data-callout-metadata~=blur] .callout-content {
  filter: blur(var(--fwi-title-blur));
}
.callout:is([data-callout=full-width-image], [data-callout=full-w-img], [data-callout=fwi], [data-callout="full-width-panoramic-image-:jack_o_lantern:"], [data-callout=fwpi-jol])[data-callout-metadata~=grayscale] img {
  filter: grayscale(1);
}

.callout:is([data-callout=full-width-image], [data-callout=full-w-img], [data-callout=fwi], [data-callout="full-width-panoramic-image-:jack_o_lantern:"], [data-callout=fwpi-jol])[data-callout-metadata~=no-title] .callout-title {
  display: none;
}
