/* GPLv3 license
Tweak CSS Variables, settings styling
Author: ElsaTam (Kapirklaa in Discord)
*/

/* Add a CSS icon */
.setting-item-heading[data-id="tweak-css-variables"] .setting-item-name .style-settings-filter-result-count::before {
    content: '';
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/62/CSS3_logo.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-inline-end: var(--size-4-2);
    margin-bottom: -2px;
}


.setting-item-heading[data-id="tweak-css-variables"]:not(.is-collapsed) + .style-settings-container {

    
    /* Color the headers */
    --h1-color: var(--color-blue);
    & {
        --current-h1-color: hsl(from var(--h1-color) h calc(s * 1) l);
    }
    & > .style-settings-container {
        --current-h1-color: hsl(from var(--h1-color) h calc(s * 0.5) l);
    }
    & > .style-settings-container > .style-settings-container {
        --current-h1-color: hsl(from var(--h1-color) h calc(s * 0.3) l);
    }
    & .style-settings-heading .setting-item-name {
        color: var(--current-h1-color);
    }

    /* Layout to see the hiearchical structure */
    & .style-settings-container {
        margin-left: 0;
        padding: var(--size-4-1) var(--size-2-3) 0 var(--size-4-6);
        border-left: 1px solid var(--current-h1-color);
    }

    /* Add icons */
    & > .setting-item-heading .setting-item-name .style-settings-collapse-indicator::after {
        content:"";
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        background-color: var(--current-h1-color);
        display: inline-flex;
        height: 1em;
        width: 1em;
        vertical-align: middle;
        margin-left: 8px;
    }
    & .setting-item-heading[data-id="header-components"] .setting-item-name .style-settings-collapse-indicator::after {
        -webkit-mask-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-component"><path d="M5.5 8.5 9 12l-3.5 3.5L2 12l3.5-3.5Z"/><path d="m12 2 3.5 3.5L12 9 8.5 5.5 12 2Z"/><path d="M18.5 8.5 22 12l-3.5 3.5L15 12l3.5-3.5Z"/><path d="m12 15 3.5 3.5L12 22l-3.5-3.5L12 15Z"/></svg>');
    }
    & .setting-item-heading[data-id="header-editor"] .setting-item-name .style-settings-collapse-indicator::after {
        -webkit-mask-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-pen"><path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"/></svg>');
    }
    & .setting-item-heading[data-id="header-foundations"] .setting-item-name .style-settings-collapse-indicator::after {
        -webkit-mask-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pyramid"><path d="M2.5 16.88a1 1 0 0 1-.32-1.43l9-13.02a1 1 0 0 1 1.64 0l9 13.01a1 1 0 0 1-.32 1.44l-8.51 4.86a2 2 0 0 1-1.98 0Z"/><path d="M12 2v20"/></svg>');
    }
    & .setting-item-heading[data-id="header-plugins"] .setting-item-name .style-settings-collapse-indicator::after {
        -webkit-mask-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-blocks"><rect width="7" height="7" x="14" y="3" rx="1"/><path d="M10 21V8a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1H3"/></svg>');
    }
    & .setting-item-heading[data-id="header-window"] .setting-item-name .style-settings-collapse-indicator::after {
        -webkit-mask-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-panels-top-left"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M3 9h18"/><path d="M9 21V9"/></svg>');
    }
    

    /* Disable the settings when not used */
    & .setting-item.mod-toggle:has(.checkbox-container:not(.is-enabled)) ~ :is(.setting-item, .style-settings-container) {
        .setting-item-info,
        input,
        .pickr,
        .pickr-reset,
        .clickable-icon,
        .slider,
        select {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    /* Change the color of the "Enable styling" text */
    & .setting-item.mod-toggle {
        &:has(.checkbox-container:not(.is-enabled)) .setting-item-name {
            color: var(--color-orange);
        }
        &:has(.checkbox-container.is-enabled) .setting-item-name {
            color: var(--color-green);
        }
        & .setting-item-name {
            font-weight: var(--font-bold);
        }
    }


    /* More compact color pickers */
    --pickr-size: 1em;
    & .pickr button {
        width: var(--pickr-size);
        height: var(--pickr-size);
        &::after,
        &::before {
            border-radius: 50%;
        }
    }
    & .pickr-reset button {
        padding: 4px;
        margin-left: 8px;
        height: fit-content;
        & svg {
            width: var(--pickr-size);
            height: var(--pickr-size);
        }
    }
    & .themed-color-wrapper {
        display: flex;
        gap: 8px;
        & > div {
            margin: 0;
            padding: calc(var(--pickr-size) * 0.3);
            background: var(--color-base-00);
        }
    }
    

    /* Default values info as a tooltip */
    & .setting-item {
        & .setting-item-info {
            position: relative;
            & .setting-item-description div {
                display: none;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                max-width: 70%;
                background: var(--background-primary-alt);
                padding: 5px;
                border-radius: var(--radius-s);
                box-shadow: var(--shadow-s);
            }
        }
        & .setting-item-control {
            flex: none;
        }
        &:has(.clickable-icon[aria-label*="Restore"]:hover, .pickr-reset button:hover) .setting-item-description div {
            display: block;
        }
    }

    /* Title and description on the same line */
    & .setting-item:not(.style-settings-info-text) .setting-item-info:has(.setting-item-description:not(:empty)) {
        & > div {
            display: inline;
        }
        & .setting-item-name {

            &::after {
                content: "";
                border-right: 1px solid var(--color-base-30);
                margin: 0 5px;
                vertical-align: middle;
            }
        }
    }

    /* Monospace description */
    & .setting-item:not(.style-settings-info-text) .setting-item-info .setting-item-description {
        font-family: var(--font-monospace);
        font-size: 10px;
    }
}