/* @settings

name: Tweak CSS variables
id: tweak-css-variables
settings:

    -
        id: header-containers
        title: Containers
        type: heading
        level: 1
        collapsed: true

    -
        id: header-blockquotes
        title: Blockquotes
        type: heading
        level: 2
        collapsed: true
    -
        id: use-custom-settings-blockquote
        title: Use custom blockquotes
        type: class-toggle
        default: false
    -
        id: custom-blockquote-border-thickness
        title: Border thickness (px)
        description: "--blockquote-border-thickness"
        type: variable-number-slider
        default: 2
        min: 0
        max: 20
        format: px
    - 
        id: custom-blockquote-border-color
        title: Border color
        description: "--blockquote-border-color"
        type: variable-themed-color
        format: hex
        default-light: '#8a5cf5'
        default-dark: '#8a5cf5'
    -
        id: custom-blockquote-font-style
        title: Font style
        description: "--blockquote-font-style"
        type: variable-select
        default: normal
        options:
            - normal
            - italic
            - oblique
    -
        id: custom-blockquote-color
        title: Color
        description: "--blockquote-color"
        type: variable-themed-color
        format: hex
        default-light: '#222222'
        default-dark: '#dadada'
    -
        id: custom-blockquote-background-color
        title: Background color
        description: "--blockquote-background-color"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#00000000'
        default-dark: '#00000000'

    -
        id: header-callouts
        title: Callouts
        type: heading
        level: 2
        collapsed: true
    -
        id: use-custom-settings-callouts
        title: Use custom callouts
        type: class-toggle
        default: false
    -
        id: custom-callout-border-width
        title: Border width (px)
        description: "--callout-border-width"
        type: variable-number
        default: 0
        format: px
    -
        id: custom-callout-border-opacity
        title: Border opacity
        description: "--callout-border-width"
        type: variable-number-slider
        default: 0.25
        min: 0
        max: 1
    -
        id: custom-callout-padding-top
        title: Padding top (px)
        description: "--callout-padding (top)"
        type: variable-number
        default: 12
        format: px
    -
        id: custom-callout-padding-right
        title: Padding right (px)
        description: "--callout-padding (right)"
        type: variable-number
        default: 12
        format: px
    -
        id: custom-callout-padding-bottom
        title: Padding bottom (px)
        description: "--callout-padding (bottom)"
        type: variable-number
        default: 12
        format: px
    -
        id: custom-callout-padding-left
        title: Padding left (px)
        description: "--callout-padding (left)"
        type: variable-number
        default: 24
        format: px
    -
        id: custom-callout-radius
        title: Radius
        description: "--callout-radius"
        type: variable-number
        default: 4
        format: px
    -
        id: custom-callout-title-padding
        title: Title padding (px)
        description: "--callout-title-padding"
        type: variable-number
        default: 0
        format: px
    -
        id: custom-callout-title-size
        title: Title size
        description: "--callout-title-size"
        type: variable-text
        default: inherit
    -
        id: custom-callout-title-weight
        title: Title weight
        description: "--callout-title-weight"
        type: variable-number
        default: 600
    -
        id: custom-callout-content-padding-top
        title: Content padding top (px)
        description: "--callout-content-padding (top)"
        type: variable-number
        default: 0
        format: px
    -
        id: custom-callout-content-padding-right
        title: Content padding right (px)
        description: "--callout-content-padding (right)"
        type: variable-number
        default: 0
        format: px
    -
        id: custom-callout-content-padding-bottom
        title: Content padding bottom (px)
        description: "--callout-content-padding (bottom)"
        type: variable-number
        default: 0
        format: px
    -
        id: custom-callout-content-padding-left
        title: Content padding left (px)
        description: "--callout-content-padding (left)"
        type: variable-number
        default: 0
        format: px
    -
        id: custom-callout-content-background
        title: Content background
        description: "--callout-content-background"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#00000000'
        default-dark: '#00000000'

    -
        id: header-callouts-colors
        title: Colors
        type: heading
        level: 3
        collapsed: true
    -
        id: custom-callout-default
        title: default
        description: "--callout-default"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#086ddd'
        default-dark: '#027aff'
    -
        id: custom-callout-bug
        title: bug
        description: "--callout-bug"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#e93147'
        default-dark: '#fb464c'
    -
        id: custom-callout-error
        title: error
        description: "--callout-error"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#e93147'
        default-dark: '#fb464c'
    -
        id: custom-callout-example
        title: example
        description: "--callout-example"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#7852ee'
        default-dark: '#a882ff'
    -
        id: custom-callout-fail
        title: fail
        description: "--callout-fail"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#e93147'
        default-dark: '#fb464c'
    -
        id: custom-callout-important
        title: important
        description: "--callout-important"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#00bfbc'
        default-dark: '#53dfdd'
    -
        id: custom-callout-info
        title: info
        description: "--callout-info"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#086ddd'
        default-dark: '#027aff'
    -
        id: custom-callout-question
        title: question
        description: "--callout-question"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#ec7500'
        default-dark: '#e9973f'
    -
        id: custom-callout-quote
        title: quote
        description: "--callout-quote"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#9e9e9e'
        default-dark: '#9e9e9e'
    -
        id: custom-callout-success
        title: success
        description: "--callout-success"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#08b94e'
        default-dark: '#44cf6e'
    -
        id: custom-callout-summary
        title: summary
        description: "--callout-summary"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#00bfbc'
        default-dark: '#53dfdd'
    -
        id: custom-callout-tip
        title: tip
        description: "--callout-tip"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#00bfbc'
        default-dark: '#53dfdd'
    -
        id: custom-callout-todo
        title: todo
        description: "--callout-todo"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#086ddd'
        default-dark: '#027aff'
    -
        id: custom-callout-warning
        title: warning
        description: "--callout-warning"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#ec7500'
        default-dark: '#e9973f'

    -
        id: header-canvas
        title: Canvas
        type: heading
        level: 2
        collapsed: true
    -
        id: use-custom-settings-canvas
        title: Use custom canvas
        type: class-toggle
        default: false
    -
        id: custom-canvas-background
        title: Background
        description: "--canvas-background"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#ffffff'
        default-dark: '#1e1e1e'
    -
        id: custom-canvas-card-label-color
        title: Card label color
        description: "--canvas-card-label-color"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#ababab'
        default-dark: '#666666'
    -
        id: custom-canvas-dot-pattern
        title: Dot pattern
        description: "--canvas-dot-pattern"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#e0e0e0'
        default-dark: '#363636'

    -
        id: header-canvas-palette
        title: Palette
        type: heading
        level: 3
        collapsed: true
    -
        id: custom-canvas-color-1
        title: Color 1
        description: "--canvas-color-1"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#e93147'
        default-dark: '#fb464c'
    -
        id: custom-canvas-color-2
        title: Color 2
        description: "--canvas-color-2"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#ec7500'
        default-dark: '#e9973f'
    -
        id: custom-canvas-color-3
        title: Color 3
        description: "--canvas-color-3"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#e0ac00'
        default-dark: '#e0de71'
    -
        id: custom-canvas-color-4
        title: Color 4
        description: "--canvas-color-4"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#08b94e'
        default-dark: '#44cf6e'
    -
        id: custom-canvas-color-5
        title: Color 5
        description: "--canvas-color-5"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#00bfbc'
        default-dark: '#53dfdd'
    -
        id: custom-canvas-color-6
        title: Color 6
        description: "--canvas-color-6"
        type: variable-themed-color
        format: rgb-values
        opacity: true
        default-light: '#7852ee'
        default-dark: '#a882ff'

    -
        id: header-code
        title: Code
        type: heading
        level: 2
        collapsed: true
    -
        id: use-custom-settings-code
        title: Use custom code
        type: class-toggle
        default: false
    -
        id: custom-code-white-space
        title: White space
        description: "--code-white-space"
        type: variable-select
        default: pre-wrap
        options:
            - normal
            - nowrap
            - pre
            - pre-wrap
            - pre-line
            - break-spaces
            - collapse balance
            - preserve nowrap
    -
        id: custom-code-radius
        title: Radius (px)
        description: "--code-radius"
        type: variable-number
        default: 4
        format: px
    -
        id: custom-code-size
        title: Font size (px)
        description: "--code-size"
        type: variable-number
        default: 0.875
        format: em
    -
        id: custom-code-background
        title: Background
        description: "--code-background"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#fafafa'
        default-dark: '#242424'

    -
        id: header-code-highlighting
        title: Syntax highlighting
        type: heading
        level: 3
        collapsed: true
    -
        id: custom-code-normal
        title: Normal
        description: "--code-normal"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#ababab'
        default-dark: '#b3b3b3'
    -
        id: custom-code-comment
        title: Comment
        description: "--code-comment"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#5c5c5c'
        default-dark: '#666666'
    -
        id: custom-code-function
        title: Function
        description: "--code-function"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#e0ac00'
        default-dark: '#e0de71'
    -
        id: custom-code-important
        title: Important
        description: "--code-important"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#ec7500'
        default-dark: '#e9973f'
    -
        id: custom-code-keyword
        title: Keyword
        description: "--code-keyword"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#d53984'
        default-dark: '#fa99cd'
    -
        id: custom-code-operator
        title: Operator
        description: "--code-operator"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#e93147'
        default-dark: '#fb464c'
    -
        id: custom-code-property
        title: Property
        description: "--code-property"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#00bfbc'
        default-dark: '#53dfdd'
    -
        id: custom-code-punctuation
        title: Punctuation
        description: "--code-punctuation"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#5c5c5c'
        default-dark: '#b3b3b3'
    -
        id: custom-code-string
        title: String
        description: "--code-string"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#08b94e'
        default-dark: '#44cf6e'
    -
        id: custom-code-tag
        title: Tag
        description: "--code-tag"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#e93147'
        default-dark: '#fb464c'
    -
        id: custom-code-value
        title: Value
        description: "--code-value"
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#7852ee'
        default-dark: '#a882ff'

    -
        id: header-embeds
        title: Embeds
        type: heading
        level: 2
        collapsed: true
    -
        id: use-custom-settings-embeds
        title: Use custom embeds
        type: class-toggle
        default: false
    -
        id: custom-embed-max-height
        title: Max height (px)
        description: "--embed-max-height"
        type: variable-number
        default: 4000
        format: px
    -
        id: custom-embed-canvas-max-height
        title: Canvas max height (px)
        description: "--embed-canvas-max-height"
        type: variable-number
        default: 400
        format: px
    -
        id: custom-embed-border-width
        title: Border width (px)
        description: "--embed-border-start/end/top/bottom (width)"
        type: variable-number
        default: 2
        format: px
    -
        id: custom-embed-border-color
        title: color
        description: "--embed-border-start/end/top/bottom (color)"
        type: variable-color
        format: hex
        default: '#8a5cf5'
    -
        id: custom-embed-border-start-style
        title: style
        description: "--embed-border-start (style)"
        type: variable-select
        default: solid
        options:
            - none
            - hidden
            - dotted
            - dashed
            - solid
            - double
            - groove
            - ridge
            - inset
            - outset
    -
        id: custom-embed-border-end-style
        title: style
        description: "--embed-border-end (style)"
        type: variable-select
        default: none
        options:
            - none
            - hidden
            - dotted
            - dashed
            - solid
            - double
            - groove
            - ridge
            - inset
            - outset
    -
        id: custom-embed-border-top-style
        title: style
        description: "--embed-border-top (style)"
        type: variable-select
        default: none
        options:
            - none
            - hidden
            - dotted
            - dashed
            - solid
            - double
            - groove
            - ridge
            - inset
            - outset
    -
        id: custom-embed-border-bottom-style
        title: style
        description: "--embed-border-bottom (style)"
        type: variable-select
        default: none
        options:
            - none
            - hidden
            - dotted
            - dashed
            - solid
            - double
            - groove
            - ridge
            - inset
            - outset
    -
        id: custom-embed-padding
        title: Padding
        description: "--embed-padding"
        type: variable-text
        default: 0 0 0 24px




    

    -
        id: header-typography
        title: Typography
        type: heading
        level: 1
        collapsed: true
    -
        id: use-custom-settings-typography
        title: Use custom typography
        type: class-toggle
        default: false
    -
        id: custom-font-weight
        title: Font weight
        description: "--font-weight"
        type: variable-number-slider
        default: 400
        min: 100
        max: 800
    -
        id: custom-bold-modifier
        title: Bold weight modifier
        description: "--bold-modifier"
        type: variable-number-slider
        default: 200
        min: 0
        max: 400
    -
        id: custom-bold-color
        title: Bold color
        description: "--bold-color"
        type: variable-themed-color
        format: hex
        default-light: '#222222'
        default-dark: '#dadada'
    -
        id: custom-caret-color
        title: Caret color
        description: "--caret-color"
        type: variable-themed-color
        format: hex
        default-light: '#222222'
        default-dark: '#dadada'

    -
        id: header-font-sizes
        title: Font sizes
        type: heading
        level: 2
        collapsed: true
    -
        id: use-custom-settings-font-sizes
        title: Use custom font sizes
        type: class-toggle
        default: false
    -
        id: custom-font-smallest
        title: Smallest (em)
        description: "--font-smallest"
        type: variable-number
        default: 0.8
        format: em
    -
        id: custom-font-smaller
        title: Smaller (em)
        description: "--font-smaller"
        type: variable-number
        default: 0.875
        format: em
    -
        id: custom-font-small
        title: Small (em)
        description: "--font-small"
        type: variable-number
        default: 0.933
        format: em
    -
        id: custom-font-ui-smaller
        title: UI smaller (px)
        description: "--font-ui-smaller"
        type: variable-number
        default: 12
        format: px
    -
        id: custom-font-ui-small
        title: UI small (px)
        description: "--font-ui-small"
        type: variable-number
        default: 13
        format: px
    -
        id: custom-font-ui-medium
        title: UI medium (px)
        description: "--font-ui-medium"
        type: variable-number
        default: 15
        format: px
    -
        id: custom-font-ui-large
        title: UI large (px)
        description: "--font-ui-large"
        type: variable-number
        default: 20
        format: px






        
    -
        id: header-inputs
        title: Inputs
        type: heading
        level: 1
        collapsed: true
    -
        id: use-custom-settings-inputs
        title: Use custom inputs
        type: class-toggle
        default: false

    -
        id: header-inputs-general
        title: General
        type: heading
        level: 2
        collapsed: true
    -
        id: custom-input-height
        title: Height
        description: "--input-height"
        type: variable-number
        default: 30
        format: px
    -
        id: custom-input-radius
        title: Radius
        description: "--input-radius"
        type: variable-number
        default: 5
        format: px
    -
        id: custom-input-font-weight
        title: Font weight
        description: "--input-font-weight"
        type: variable-number
        default: 400
    -
        id: custom-input-border-width
        title: Border width
        description: "--input-border-width"
        type: variable-number
        default: 1
        format: px

    -
        id: header-inputs-buttons
        title: Buttons
        type: heading
        level: 2
        collapsed: true
    -
        id: custom-button-radius
        title: Radius (px)
        description: "--button-radius"
        type: variable-number
        default: 5
        format: px

    -
        id: header-inputs-checkboxes
        title: Checkboxes
        type: heading
        level: 2
        collapsed: true
    -
        id: custom-checkbox-radius
        title: Radius (px)
        description: "--checkbox-radius"
        type: variable-number
        default: 4
        format: px
    -
        id: custom-checkbox-size
        title: Size (px)
        description: "--checkbox-size"
        type: variable-number
        default: 16
        format: px
    -
        id: custom-checkbox-marker-color
        title: Marker color
        description: "--checkbox-marker-color"
        type: variable-themed-color
        format: hex
        default-light: '#ffffff'
        default-dark: '#1e1e1e'
    -
        id: custom-checkbox-color
        title: Color
        description: "--checkbox-color"
        type: variable-color
        format: hex
        default: '#8a5cf5'
    -
        id: custom-checkbox-border-color
        title: Border color
        description: "--checkbox-border-color"
        type: variable-themed-color
        format: hex
        default-light: '#ababab'
        default-dark: '#666666'
    -
        id: custom-checkbox-margin-inline-start
        title: Margin inline start (em)
        description: "--checkbox-margin-inline-start"
        type: variable-number
        default: 0.85
        format: em
    -
        id: custom-checklist-done-decoration
        title: Checklist done decoration
        description: "--checklist-done-decoration"
        type: variable-text
        default: line-through
    -
        id: custom-checklist-done-color
        title: Checklist done color
        description: "--checklist-done-color"
        type: variable-themed-color
        format: hex
        default-light: '#5c5c5c'
        default-dark: '#b3b3b3'

    -
        id: header-inputs-dropdowns
        title: Dropdowns
        type: heading
        level: 2
        collapsed: true
    -
        id: custom-dropdown-padding-top
        title: Padding top (em)
        description: "--dropdown-padding (top)"
        type: variable-number
        default: 0
        format: em
    -
        id: custom-dropdown-padding-right
        title: Padding right (em)
        description: "--dropdown-padding (right)"
        type: variable-number
        default: 1.9
        format: em
    -
        id: custom-dropdown-padding-bottom
        title: Padding bottom (em)
        description: "--dropdown-padding (bottom)"
        type: variable-number
        default: 0
        format: em
    -
        id: custom-dropdown-padding-left
        title: Padding left (em)
        description: "--dropdown-padding (left)"
        type: variable-number
        default: 0.8
        format: em
    -
        id: custom-dropdown-background
        title: Background
        description: "--dropdown-background"
        type: variable-themed-color
        format: hex
        default-light: '#ffffff'
        default-dark: '#1e1e1e'

    -
        id: header-inputs-sliders
        title: Sliders
        type: heading
        level: 2
        collapsed: true
    -
        id: custom-slider-thumb-border-width
        title: Thumb border width (px)
        description: "--slider-thumb-border-width"
        type: variable-number
        default: 1
        format: px
    -
        id: custom-slider-thumb-border-color
        title: Thumb border color
        description: "--slider-thumb-border-color"
        type: variable-themed-color
        format: hex
        default-light: '#d4d4d4'
        default-dark: '#3f3f3f'
    -
        id: custom-slider-thumb-height
        title: Thumb height (px)
        description: "--slider-thumb-height"
        type: variable-number
        default: 18
        format: px
    -
        id: custom-slider-thumb-width
        title: Thumb width (px)
        description: "--slider-thumb-width"
        type: variable-number
        default: 18
        format: px
    -
        id: custom-slider-thumb-y
        title: Thumb y (px)
        description: "--slider-thumb-y"
        type: variable-number
        default: -6
        format: px
    -
        id: custom-slider-thumb-radius
        title: Thumb radius (%)
        description: "--slider-thumb-radius"
        type: variable-number-slider
        default: 50
        min: 0
        max: 50
        format: "%"
    -
        id: custom-slider-track-height
        title: Track height (px)
        description: "--slider-track-height"
        type: variable-number
        default: 3
        format: px
    -
        id: custom-slider-track-background
        title: Track background
        description: "--slider-track-background"
        type: variable-themed-color
        format: hex
        default-light: '#e0e0e0'
        default-dark: '#363636'

    -
        id: header-inputs-toggles
        title: Toggles
        type: heading
        level: 2
        collapsed: true
    -
        id: custom-toggle-background-color
        title: Track background
        description: "unofficial"
        type: variable-color
        format: hex
        default: '#8a5cf5'
    -
        id: custom-toggle-border-width
        title: Border width (px)
        description: "--toggle-border-width"
        type: variable-number
        default: 2
        format: px
    -
        id: custom-toggle-s-border-width
        title: Small border width (px)
        description: "--toggle-s-border-width"
        type: variable-number
        default: 2
        format: px
    -
        id: custom-toggle-width
        title: Width (px)
        description: "--toggle-width"
        type: variable-number
        default: 40
        format: px
    -
        id: custom-toggle-s-width
        title: Small width (px)
        description: "--toggle-s-width"
        type: variable-number
        default: 34
        format: px
    -
        id: custom-toggle-radius
        title: Radius (px)
        description: "--toggle-radius"
        type: variable-number
        default: 18
        format: px

    -
        id: header-inputs-toggles-thumb
        title: Thumb
        type: heading
        level: 3
        collapsed: true
    -
        id: custom-toggle-thumb-color
        title: Color
        description: "--toggle-thumb-color"
        type: variable-color
        format: hex
        default: '#ffffff'
    -
        id: custom-toggle-thumb-radius
        title: Radius (px)
        description: "--toggle-thumb-radius"
        type: variable-number
        default: 18
        format: px
    -
        id: custom-toggle-thumb-height
        title: Height (px)
        description: "--toggle-thumb-height"
        type: variable-number
        default: 18
        format: px
    -
        id: custom-toggle-thumb-width
        title: Width (px)
        description: "--toggle-thumb-width"
        type: variable-number
        default: 18
        format: px
    -
        id: custom-toggle-s-thumb-width
        title: Small width (px)
        description: "--toggle-s-thumb-width"
        type: variable-number
        default: 15
        format: px
    -
        id: custom-toggle-s-thumb-height
        title: Small height (px)
        description: "--toggle-s-thumb-height"
        type: variable-number
        default: 15
        format: px
    






    -
        id: header-modals
        title: Modals and other windows
        type: heading
        level: 1
        collapsed: true

    -
        id: header-modals-dialogs
        title: Dialogs
        type: heading
        level: 2
        collapsed: true
    -
        id: use-custom-settings-dialogs
        title: Use custom dialogs
        type: class-toggle
        default: false
    -
        id: custom-dialog-width
        title: Width (px)
        description: "--dialog-width"
        type: variable-number
        default: 560
        format: px
    -
        id: custom-dialog-max-width
        title: Max width (vw)
        description: "--dialog-max-width"
        type: variable-number-slider
        default: 80
        min: 0
        max: 100
        format: vw
    -
        id: custom-dialog-max-height
        title: Max height (vh)
        description: "--dialog-max-height"
        type: variable-number-slider
        default: 85
        min: 0
        max: 100
        format: vh
    






    -
        id: header-layout
        title: Layout
        type: heading
        level: 1
        collapsed: true

    -
        id: header-layout-dividers
        title: Dividers between panes
        type: heading
        level: 2
        collapsed: true
    -
        id: use-custom-settings-dividers
        title: Use custom dividers
        type: class-toggle
        default: false
    -
        id: custom-divider-color
        title: Color
        description: "--divider-color"
        type: variable-themed-color
        format: hex
        default-light: '#e0e0e0'
        default-dark: '#363636'
    -
        id: custom-divider-color-hover
        title: Color hover
        description: "--divider-color-hover"
        type: variable-color
        format: hex
        default: '#8a5cf5'
    -
        id: custom-divider-width
        title: Width (px)
        description: "--divider-width"
        type: variable-number
        default: 1
        format: px

    -
        id: header-layout-file-layout
        title: File layout
        type: heading
        level: 2
        collapsed: true
    -
        id: use-custom-settings-file-layout
        title: Use custom file layout
        type: class-toggle
        default: false
    -
        id: custom-file-line-width
        title: Line width (px)
        description: "--file-line-width"
        type: variable-number
        default: 700
        format: px
    -
        id: custom-file-folding-offset
        title: Folding offset (px)
        description: "--file-folding-offset"
        type: variable-number
        default: 24
        format: px
    -
        id: custom-file-margins
        title: Margins
        description: "--file-margins"
        type: variable-text
        default: 32px 32px 32px 32px
    -
        id: custom-file-header-font-size
        title: Header font size (px)
        description: "--file-header-font-size"
        type: variable-number
        default: 13
        format: px
    -
        id: custom-file-header-font-weight
        title: Header font weight
        description: "--file-header-font-weight"
        type: variable-number
        default: 400
    -
        id: custom-file-header-border-width
        title: Border width (px)
        description: "--file-header-border (width)"
        type: variable-number
        default: 1
        format: px
    -
        id: custom-file-header-border-style
        title: Border style (px)
        description: "--file-header-border (style)"
        type: variable-select
        default: solid
        options:
            - none
            - hidden
            - dotted
            - dashed
            - solid
            - double
            - groove
            - ridge
            - inset
            - outset
    -
        id: custom-file-header-border-color
        title: Color
        description: "--file-header-border (color)"
        type: variable-color
        format: hex
        default: '#00000000'
        opacity: true
    -
        id: custom-file-header-justify
        title: Border style (px)
        description: "--file-header-justify"
        type: variable-select
        default: center
        options:
            - start
            - center
            - end
    






    -
        id: header-misc
        title: Miscellaneous
        type: heading
        level: 1
        collapsed: true
        
    -
        id: header-misc-collapse-icons
        title: Collapse icons
        type: heading
        level: 2
        collapsed: true
    -
        id: use-custom-settings-collapse-icons
        title: Use custom collapse icons
        type: class-toggle
        default: false
    -
        id: custom-collapse-icon-color
        title: Color
        description: "--collapse-icon-color"
        type: variable-themed-color
        format: hex
        default-light: '#ababab'
        default-dark: '#666666'
    -
        id: custom-collapse-icon-color-collapsed
        title: Color collapsed
        description: "--collapse-icon-color-collapsed"
        type: variable-color
        format: hex
        default: '#8a5cf5'
        
    -
        id: header-misc-collapse-icons
        title: Collapse icons
        type: heading
        level: 2
        collapsed: true
    -
        id: use-custom-settings-dragging
        title: Use custom dragging
        type: class-toggle
        default: false
    -
        id: custom-drag-ghost-background
        title: Drag ghost background
        description: "--drag-ghost-background"
        type: variable-color
        format: hex
        default: '#000000d9'
        opacity: true
    -
        id: custom-drag-ghost-text-color
        title: Drag ghost text color
        description: "--drag-ghost-text-color"
        type: variable-color
        format: hex
        default: '#ffffff'
        opacity: true
*/


/* Containers */
body {

    /* Blockquotes */
    & {
        --custom-blockquote-border-thickness: 2px;
        --custom-blockquote-border-color: #8a5cf5;
        --custom-blockquote-font-style: normal;
        --custom-blockquote-background-color: #00000000;
        &.theme-light { --custom-blockquote-color: #222222; }
        &.theme-dark { --custom-blockquote-color: #dadada; }

        &.use-custom-settings-blockquote {
            --blockquote-border-thickness: var(--custom-blockquote-border-thickness);
            --blockquote-border-color: var(--custom-blockquote-border-color);
            --blockquote-font-style: var(--custom-blockquote-font-style);
            --blockquote-color: var(--custom-blockquote-color);
            --blockquote-background-color: var(--custom-blockquote-background-color);
        }
    }

    /* Callouts */
    & {
        --custom-callout-border-width: 0px;
        --custom-callout-border-opacity: 0.25;
        --custom-callout-padding-top: 12px;
        --custom-callout-padding-right: 12px;
        --custom-callout-padding-bottom: 12px;
        --custom-callout-padding-left: 24px;
        --custom-callout-radius: 4px;
        --custom-callout-title-padding: 0;
        --custom-callout-title-size: inherit;
        --custom-callout-title-weight: 600;
        --custom-callout-content-padding-top: 0;
        --custom-callout-content-padding-right: 0;
        --custom-callout-content-padding-bottom: 0;
        --custom-callout-content-padding-left: 0;
        --custom-callout-content-background: #00000000;
        --custom-callout-quote: 158, 158, 158;

        &.theme-light {
            --custom-callout-bug: 233, 49, 71;       /* --color-red-rgb    */
            --custom-callout-default: 8, 109, 221;   /* --color-blue-rgb   */
            --custom-callout-error: 233, 49, 71;     /* --color-red-rgb    */
            --custom-callout-example: 120, 82, 238;  /* --color-purple-rgb */
            --custom-callout-fail: 233, 49, 71;      /* --color-red-rgb    */
            --custom-callout-important: 0, 191, 188; /* --color-cyan-rgb   */
            --custom-callout-info: 8, 109, 221;      /* --color-blue-rgb   */
            --custom-callout-question: 236, 117, 0;  /* --color-orange-rgb */
            --custom-callout-success: 8, 185, 78;    /* --color-green-rgb  */
            --custom-callout-summary: 0, 191, 188;   /* --color-cyan-rgb   */
            --custom-callout-tip: 0, 191, 188;       /* --color-cyan-rgb   */
            --custom-callout-todo: 8, 109, 221;      /* --color-blue-rgb   */
            --custom-callout-warning: 236, 117, 0;   /* --color-orange-rgb */
        }
        &.theme-dark {
            --custom-callout-bug: 251, 70, 76;
            --custom-callout-default: 2, 122, 255;
            --custom-callout-error: 251, 70, 76;
            --custom-callout-example: 168, 130, 255;
            --custom-callout-fail: 251, 70, 76;
            --custom-callout-important: 83, 223, 221;
            --custom-callout-info: 2, 122, 255;
            --custom-callout-question: 233, 151, 63;
            --custom-callout-success: 68, 207, 110;
            --custom-callout-summary: 83, 223, 221;
            --custom-callout-tip: 83, 223, 221;
            --custom-callout-todo: 2, 122, 255;
            --custom-callout-warning: 233, 151, 63;
        }

        &.use-custom-settings-callouts {
            --callout-border-width: var(--custom-callout-border-width);
            --callout-border-opacity: var(--custom-callout-border-opacity);
            --callout-padding:
                var(--custom-callout-padding-top)
                var(--custom-callout-padding-right)
                var(--custom-callout-padding-bottom)
                var(--custom-callout-padding-left);
            --callout-radius: var(--custom-callout-radius);
            --callout-title-padding: var(--custom-callout-title-padding);
            --callout-title-size: var(--custom-callout-title-size);
            --callout-title-weight: var(--custom-callout-title-weight);
            --callout-content-padding:
                var(--custom-callout-content-padding-top)
                var(--custom-callout-content-padding-right)
                var(--custom-callout-content-padding-bottom)
                var(--custom-callout-content-padding-left);
            --callout-content-background: var(--custom-callout-content-background);
            --callout-bug: var(--custom-callout-bug);
            --callout-default: var(--custom-callout-default);
            --callout-error: var(--custom-callout-error);
            --callout-example: var(--custom-callout-example);
            --callout-fail: var(--custom-callout-fail);
            --callout-important: var(--custom-callout-important);
            --callout-info: var(--custom-callout-info);
            --callout-question: var(--custom-callout-question);
            --callout-success: var(--custom-callout-success);
            --callout-summary: var(--custom-callout-summary);
            --callout-tip: var(--custom-callout-tip);
            --callout-todo: var(--custom-callout-todo);
            --callout-warning: var(--custom-callout-warning);
            --callout-quote: var(--custom-callout-quote);
        }
    }

    /* Canvas */
    & {
        &.theme-light {
            --custom-canvas-background: #ffffff; /* --color-base-00 */
            --custom-canvas-card-label-color: #ababab; /* --color-base-50 */
            --custom-canvas-color-1: 233, 49, 71;  /* --color-red-rgb    */
            --custom-canvas-color-2: 236, 117, 0;  /* --color-orange-rgb */
            --custom-canvas-color-3: 224, 172, 0;  /* --color-yellow-rgb */
            --custom-canvas-color-4: 8, 185, 78;   /* --color-green-rgb  */
            --custom-canvas-color-5: 0, 191, 188;  /* --color-cyan-rgb   */
            --custom-canvas-color-6: 120, 82, 238; /* --color-purple-rgb */
            --custom-canvas-dot-pattern: #e0e0e0; /* --color-base-30 */;
        }
        &.theme-dark {
            --custom-canvas-background: #1e1e1e;
            --custom-canvas-card-label-color: #666666;
            --custom-canvas-color-1: 251, 70, 76;
            --custom-canvas-color-2: 233, 151, 63;
            --custom-canvas-color-3: 224, 222, 113;
            --custom-canvas-color-4: 68, 207, 110;
            --custom-canvas-color-5: 83, 223, 221;
            --custom-canvas-color-6: 168, 130, 255;
            --custom-canvas-dot-pattern: #363636;
        }

        &.use-custom-settings-canvas {
            --canvas-background: var(--custom-canvas-background);
            --canvas-card-label-color: var(--custom-canvas-card-label-color);
            --canvas-color-1: var(--custom-canvas-color-1);
            --canvas-color-2: var(--custom-canvas-color-2);
            --canvas-color-3: var(--custom-canvas-color-3);
            --canvas-color-4: var(--custom-canvas-color-4);
            --canvas-color-5: var(--custom-canvas-color-5);
            --canvas-color-6: var(--custom-canvas-color-6);
            --canvas-dot-pattern: var(--custom-canvas-dot-pattern);
        }
    }

    /* Code */
    & {
        --custom-code-white-space: pre-wrap;
        --custom-code-radius: 4px;
        --custom-code-size: 0.875em;

        &.theme-light {
            --custom-code-background: #fafafa;  /* --color-base-10 */
            --custom-code-normal: #ababab;      /* --color-base-70 */
            --custom-code-comment: #5c5c5c;     /* --color-base-50 */
            --custom-code-function: #e0ac00;    /* --color-yellow */
            --custom-code-important: #ec7500;   /* --color-orange */
            --custom-code-keyword: #d53984;     /* --color-pink */
            --custom-code-operator: #e93147;    /* --color-red */
            --custom-code-property: #00bfbc;    /* --color-cyan */
            --custom-code-punctuation: #5c5c5c; /* --color-base-70 */
            --custom-code-string: #08b94e;      /* --color-green */
            --custom-code-tag: #e93147;         /* --color-red */
            --custom-code-value: #7852ee;       /* --color-purple */
        }
        &.theme-dark {
            --custom-code-background: #242424;
            --custom-code-normal: #b3b3b3;
            --custom-code-comment: #666666;
            --custom-code-function: #e0de71;
            --custom-code-important: #e9973f;
            --custom-code-keyword: #fa99cd;
            --custom-code-operator: #fb464c;
            --custom-code-property: #53dfdd;
            --custom-code-punctuation: #b3b3b3;
            --custom-code-string: #44cf6e;
            --custom-code-tag: #fb464c;
            --custom-code-value: #a882ff;
        }

        &.use-custom-settings-code {
            --code-white-space: var(--custom-code-white-space);
            --code-radius: var(--custom-code-radius);
            --code-size: var(--custom-code-size);
            --code-background: var(--custom-code-background);
            --code-normal: var(--custom-code-normal);
            --code-comment: var(--custom-code-comment);
            --code-function: var(--custom-code-function);
            --code-important: var(--custom-code-important);
            --code-keyword: var(--custom-code-keyword);
            --code-operator: var(--custom-code-operator);
            --code-property: var(--custom-code-property);
            --code-punctuation: var(--custom-code-punctuation);
            --code-string: var(--custom-code-string);
            --code-tag: var(--custom-code-tag);
            --code-value: var(--custom-code-value);
        }
    }

    /* Embeds */
    & {
        --custom-embed-max-height: 4000px;
        --custom-embed-canvas-max-height: 400px;
        --custom-embed-border-width: 2px;
        --custom-embed-border-color: #8a5cf5;
        --custom-embed-border-start-style: solid;
        --custom-embed-border-end-style: none;
        --custom-embed-border-top-style: none;
        --custom-embed-border-bottom-style: none;
        --custom-embed-padding: 0 0 0 24px;

        &.use-custom-settings-embeds {
            --embed-max-height: var(--custom-embed-max-height);
            --embed-canvas-max-height: var(--custom-embed-canvas-max-height);
            --embed-border-start:
                var(--custom-embed-border-width)
                var(--custom-embed-border-start-style)
                var(--custom-embed-border-color);
            --embed-border-end:
                var(--custom-embed-border-width)
                var(--custom-embed-border-end-style)
                var(--custom-embed-border-color);
            --embed-border-top:
                var(--custom-embed-border-width)
                var(--custom-embed-border-top-style)
                var(--custom-embed-border-color);
            --embed-border-bottom:
                var(--custom-embed-border-width)
                var(--custom-embed-border-bottom-style)
                var(--custom-embed-border-color);
            --embed-padding: var(--custom-embed-padding);
        }
    }
}

/* Typography */
body {

    /* General */
    & {
        --custom-font-weight: 400;
        --custom-bold-modifier: 200;
        &.theme-light {
            --custom-bold-color: #222222; /* --color-base-100 */
            --custom-caret-color: #222222; /* --color-base-100 */
        }
        &.theme-dark {
            --custom-bold-color: #dadada;
            --custom-caret-color: #dadada;
        }

        &.use-custom-settings-typography {
            --font-weight: var(--custom-font-weight);
            --bold-modifier: var(--custom-bold-modifier);
            --bold-color: var(--custom-bold-color);
            --caret-color: var(--custom-caret-color);
        }
    }

    /* Font sizes */
    & {
        --custom-font-smallest: 0.8em;
        --custom-font-smaller: 0.875em;
        --custom-font-small: 0.933em;
        --custom-font-ui-smaller: 12px;
        --custom-font-ui-small: 13px;
        --custom-font-ui-medium: 15px;
        --custom-font-ui-large: 20px;

        &.use-custom-settings-font-sizes {
            --font-smallest: var(--custom-font-smallest);
            --font-smaller: var(--custom-font-smaller);
            --font-small: var(--custom-font-small);
            --font-ui-smaller: var(--custom-font-ui-smaller);
            --font-ui-small: var(--custom-font-ui-small);
            --font-ui-medium: var(--custom-font-ui-medium);
            --font-ui-large: var(--custom-font-ui-large);
        }
    }
}

/* Inputs */
body {
    --custom-input-height: 30px;
    --custom-input-radius: 5px;
    --custom-input-font-weight: 200;
    --custom-input-border-width: 1px;

    &.use-custom-settings-inputs {
        --input-height: var(--custom-input-height);
        --input-radius: var(--custom-input-radius);
        --input-font-weight: var(--custom-input-font-weight);
        --input-border-width: var(--custom-input-border-width);
    }

    /* Buttons */
    & {
        --custom-button-radius: 5px;

        &.use-custom-settings-inputs {
            --button-radius: var(--custom-button-radius);
        }
    }

    /* Checkboxes */
    & {
        --custom-checkbox-radius: 4px;
        --custom-checkbox-size: 16px;
        --custom-checkbox-margin-inline-start: 0.85em;
        --custom-checklist-done-decoration: line-through;
        --custom-checkbox-color: #8a5cf5;
        &.theme-light {
            --custom-checkbox-marker-color: #ffffff;
            --custom-checkbox-border-color: #ababab;
            --custom-checklist-done-color: #5c5c5c;
        }
        &.theme-dark {
            --custom-checkbox-marker-color: #1e1e1e;
            --custom-checkbox-border-color: #666666;
            --custom-checklist-done-color: #b3b3b3;
        }

        &.use-custom-settings-inputs {
            --checkbox-radius: var(--custom-checkbox-radius);
            --checkbox-size: var(--custom-checkbox-size);
            --checkbox-marker-color: var(--custom-checkbox-marker-color);
            --checkbox-color: var(--custom-checkbox-color);
            --checkbox-color-hover: hsl(from var(--checkbox-color) calc(h - 2) calc(s * 1.02 / 1.01) calc(l * 1.15 / 1.1075));
            --checkbox-border-color: var(--custom-checkbox-border-color);
            --checkbox-margin-inline-start: var(--custom-checkbox-margin-inline-start);
            --checklist-done-decoration: var(--custom-checklist-done-decoration);
            --checklist-done-color: var(--custom-checklist-done-color);
            &.theme-light {
                --checkbox-border-color-hover: hsl(from var(--checkbox-border-color) h s calc(l * 36 / 67));
            }
            &.theme-dark {
                --checkbox-border-color-hover: hsl(from var(--checkbox-border-color) h s calc(l * 40 / 85));
            }
        }
    }

    /* Dropdowns */
    & {
        --custom-dropdown-padding-top: 0;
        --custom-dropdown-padding-right: 1.9em;
        --custom-dropdown-padding-bottom: 0;
        --custom-dropdown-padding-left: 0.8em;
        &.theme-light {
            --custom-dropdown-background: #ffffff; /* --color-base-00 */
        }
        &.theme-dark {
            --custom-dropdown-background: #1e1e1e;
        }

        &.use-custom-settings-inputs {
            --dropdown-background: var(--custom-dropdown-background);
            --dropdown-padding:
                var(--custom-dropdown-padding-top)
                var(--custom-dropdown-padding-right)
                var(--custom-dropdown-padding-bottom)
                var(--custom-dropdown-padding-left);
            &.theme-light {
                --dropdown-background-hover: hsl(from var(--dropdown-background) h s calc(l * 98 / 100)); /* --color-base-10 */
            }
            &.theme-dark {
                --dropdown-background-hover: hsl(from var(--dropdown-background) h s calc(l * 14 / 12));
            }
        }
    }

    /* Sliders */
    & {
        --custom-slider-thumb-border-width: 1px;
        --custom-slider-thumb-height: 18px;
        --custom-slider-thumb-width: 18px;
        --custom-slider-thumb-y: -6px;
        --custom-slider-thumb-radius: 50%;
        --custom-slider-track-height: 3px;
        &.theme-light {
            --custom-slider-thumb-border-color: #d4d4d4; /* --color-base-35 */
            --custom-slider-track-background: #e0e0e0; /* --color-base-30 */
        }
        &.theme-dark {
            --custom-slider-thumb-border-color: #3f3f3f;
            --custom-slider-track-background: #363636;
        }

        &.use-custom-settings-inputs {
            --slider-thumb-border-width: var(--custom-slider-thumb-border-width);
            --slider-thumb-height: var(--custom-slider-thumb-height);
            --slider-thumb-width: var(--custom-slider-thumb-width);
            --slider-thumb-y: var(--custom-slider-thumb-y);
            --slider-thumb-radius: var(--custom-slider-thumb-radius);
            --slider-track-height: var(--custom-slider-track-height);
            --slider-thumb-border-color: var(--custom-slider-thumb-border-color);
            --slider-track-background: var(--custom-slider-track-background);
        }
    }

    /* Toggles */
    & {
        --custom-toggle-border-width: 2px;
        --custom-toggle-width: 40px;
        --custom-toggle-radius: 18px;
        --custom-toggle-thumb-color: white;
        --custom-toggle-thumb-radius: 18px;
        --custom-toggle-thumb-height: 18px;
        --custom-toggle-thumb-width: 18px;
        --custom-toggle-s-border-width: 2px;
        --custom-toggle-s-width: 34px;
        --custom-toggle-s-thumb-height: 15px;
        --custom-toggle-s-thumb-width: 15px;
        --custom-toggle-background-color: #8a5cf5; /* --color-accent-1 */

        &.use-custom-settings-inputs {
            --toggle-border-width: var(--custom-toggle-border-width);
            --toggle-width: var(--custom-toggle-width);
            --toggle-radius: var(--custom-toggle-radius);
            --toggle-thumb-color: var(--custom-toggle-thumb-color);
            --toggle-thumb-radius: var(--custom-toggle-thumb-radius);
            --toggle-thumb-height: var(--custom-toggle-thumb-height);
            --toggle-thumb-width: var(--custom-toggle-thumb-width);
            --toggle-s-border-width: var(--custom-toggle-s-border-width);
            --toggle-s-width: var(--custom-toggle-s-width);
            --toggle-s-thumb-height: var(--custom-toggle-s-thumb-height);
            --toggle-s-thumb-width: var(--custom-toggle-s-thumb-width);

            & .checkbox-container.is-enabled {
                background-color: var(--custom-toggle-background-color);
            }
        }
    }
}

/* Modals */
body {
    /* Dialogs */
    & {
        --custom-dialog-width: 560px;
        --custom-dialog-max-width: 80vw;
        --custom-dialog-max-height: 85vh;

        &.use-custom-settings-dialogs {
            --dialog-width: var(--custom-dialog-width);
            --dialog-max-width: var(--custom-dialog-max-width);
            --dialog-max-height: var(--custom-dialog-max-height);
        }
    }
}

/* Layout */
body {
    /* Dividers between panes */
    & {
        --custom-divider-color-hover: #8a5cf5;
        --custom-divider-width: 1px;
        &.theme-light {
            --custom-divider-color: #e0e0e0;/* --color-base-30 */
        }
        &.theme-dark {
            --custom-divider-color: #363636;
        }

        &.use-custom-settings-dividers {
            --divider-color: var(--custom-divider-color);
            --divider-color-hover: var(--custom-divider-color-hover);
            --divider-width: var(--custom-divider-width);
            --divider-width-hover: calc(var(--divider-width) + 2px);
        }
    }

    /* File layout */
    & {
        --custom-file-line-width: 700px;
        --custom-file-folding-offset: 24px;
        --custom-file-margins: 32px 32px 32px 32px;
        --custom-file-header-font-size: 13px;
        --custom-file-header-font-weight: 400;
        --custom-file-header-border-width: 1px;
        --custom-file-header-border-style: solid;
        --custom-file-header-border-color: #00000000;
        --custom-file-header-justify: center;

        &.use-custom-settings-file-layout {
            --file-line-width: var(--custom-file-line-width);
            --file-folding-offset: var( --custom-file-folding-offset);
            --file-margins: var(--custom-file-margins);
            --file-header-font-size: var(--custom-file-header-font-size);
            --file-header-font-weight: var(--custom-file-header-font-weight);
            --file-header-border:
                var(--custom-file-header-border-width)
                var(--custom-file-header-border-style)
                var(--custom-file-header-border-color);
            --file-header-justify: var(--custom-file-header-justify);
        }
    }
}

/* Misc */
body {
    /* Collapse icons */
    & {
        --custom-collapse-icon-color-collapsed: #8a5cf5; /* --color-accent */
        &.theme-light {
            --custom-collapse-icon-color: #ababab; /* --color-base-50 */
        }
        &.theme-dark {
            --custom-collapse-icon-color: #666666;
        }

        &.use-custom-settings-collapse-icons {
            --collapse-icon-color-collapsed: var(--custom-collapse-icon-color-collapsed);
            --collapse-icon-color: var(--custom-collapse-icon-color);
        }
    }

    /* Dragging */
    & {
        --custom-drag-ghost-background: #000000d9;
        --custom-drag-ghost-text-color: #ffffff;

        &.use-custom-settings-dragging {
            --drag-ghost-background: var(--custom-drag-ghost-background);
            --drag-ghost-text-color: var(--custom-drag-ghost-text-color);
        }
    }
}