/* GPLv3 license
Flexcyon - List Styling
Author: bladeacer (@data_in_void in Discord)
*/

@mixin callout-list($style-type) {
    div.callout[data-callout-metadata*="li-#{$style-type}"],
    div.callout[data-callout-metadata*="ol-#{$style-type}"] {
        ol {
            list-style-type: $style-type;
            list-style-position: inside;
        }
    }
    div.callout[data-callout-metadata*="li-#{$style-type}"],
    div.callout[data-callout-metadata*="ul-#{$style-type}"] {
        ul {
            list-style-type: $style-type;
            list-style-position: inside;
        }
    }
}

@include callout-list(none);
@include callout-list(disc);
@include callout-list(circle);
@include callout-list(square);
@include callout-list(decimal);
@include callout-list(cjk-decimal);
@include callout-list(decimal-leading-zero);
@include callout-list(lower-roman);
@include callout-list(upper-roman);
@include callout-list(lower-greek);
@include callout-list(lower-alpha);
@include callout-list(lower-latin);
@include callout-list(upper-alpha);
@include callout-list(upper-latin);
@include callout-list(arabic-indic);
@include callout-list(armenian);
@include callout-list(bengali);
@include callout-list(cambodian);
@include callout-list(khmer);
@include callout-list(cjk-earthly-branch);
@include callout-list(cjk-heavenly-branch);
@include callout-list(cjk-ideographic);
@include callout-list(devanagari);
@include callout-list(ethiopic-numeric);
@include callout-list(georgian);
@include callout-list(gujarati);
@include callout-list(gurmukhi);
@include callout-list(hebrew);
@include callout-list(hiragana);
@include callout-list(hiragana-iroha);
@include callout-list(japanese-formal);
@include callout-list(japanese-informal);
@include callout-list(kannada);
@include callout-list(kannada-iroha);
@include callout-list(katakana);
@include callout-list(katakana-iroha);
@include callout-list(korean-hangul-formal);
@include callout-list(korean-hanja-formal);
@include callout-list(korean-hanja-informal);
@include callout-list(lao);
@include callout-list(lower-armenian);
@include callout-list(malayalam);
@include callout-list(mongolian);
@include callout-list(myanmar);
@include callout-list(oriya);
@include callout-list(persian);
@include callout-list(simp-chinese-formal);
@include callout-list(simp-chinese-informal);
@include callout-list(tamil);
@include callout-list(telugu);
@include callout-list(thai);
@include callout-list(tibetan);
@include callout-list(trad-chinese-formal);
@include callout-list(trad-chinese-informal);
@include callout-list(upper-armenian);
@include callout-list(disclosure-open);
@include callout-list(disclosure-open);