/* IF YOU DON'T WANT THE LOGO IN THE BACKGROUND, REMOVE FROM HERE */
/*
    Fate™ is a trademark of Evil Hat Productions, LLC. The Powered by Fate logo is © Evil Hat Productions, LLC and is used with permission.
    https://fate-srd.com/official-licensing-fate
*/
.fate-combat-tracker::before {
    content: '';
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    z-index: -1;
}
.theme-light .fate-combat-tracker::before {
    background-image: url(https://fate-srd.com/_next/static/media/Powered-by-Fate-Final-Light-BG.bf091fab.svg);
    opacity: 0.1;
}
.theme-dark .fate-combat-tracker::before {
    background-image: url(https://fate-srd.com/_next/static/media/Powered-by-Fate-Final-Dark-BG.fcd87670.svg);
    opacity: 0.01;
}
.fate-combat-tracker {
    z-index: 0;
}
/* UNTIL HERE. FOLLOWING LINES ARE NOT ABOUT THE LOGO */






.theme-dark .fate-combat-tracker {
    --color-grey-rgb: 100, 100, 100;
}
.theme-light .fate-combat-tracker {
    --color-grey-rgb: 200, 200, 200;
}

/* NOTE */
.fate-combat-tracker {
    /* Default */
    --fate-color-rgb: var(--color-blue-rgb);
    --fate-color: rgb(var(--fate-color-rgb));

    /* No health */
    .callout[data-callout="fate-npc"]:not(:has(.callout[data-callout="fate-health"] .checkbox-container:not(.is-enabled))) {
        --fate-color: var(--color-red);
        --fate-color-rgb: var(--color-red-rgb);
    }

    /* Taken out */
    .callout[data-callout="fate-npc"]:has(.mb-input-type-toggle.npc-out .is-enabled),
    .callout[data-callout="fate-npc"]:has(.mb-input-type-toggle.npc-out .is-enabled):not(:has(.callout[data-callout="fate-health"] .checkbox-container:not(.is-enabled))) {
        --fate-color-rgb: var(--color-grey-rgb);
        --fate-color: rgb(var( --fate-color-rgb));
    }

    --input-radius: 0;


    .metadata-property[data-property-key="sheetsPrevFolder"],
    .metadata-property[data-property-key="sheetsPrevPrefix"] {
        display: none;
    }


    h2 {
        text-align: center;
    }

    .mb-button-block {
        --mb-border-radius: 0;
        --interactive-normal: var(--fate-color);
        --interactive-hover: color-mix(in srgb, var(--fate-color), rgb(var(--mono-rgb-100)) 20%);
        --icon-size: 30px;
        --input-height: calc(var(--icon-size) + var(--size-4-3));


        code {
            font-family: var(--font-text);
        }

        .mb-button-group {
            display: flex;
            justify-content: center;
        }

        .mb-button:hover svg {
            transform: scale(1.1);
        }
        
        svg {
            stroke-width: 2.5;
        }

        .mb-icon-wrapper {
            min-height: var(--icon-size);
            min-width: var(--icon-size);
        }

        button {
            font-size: 0;
            gap: 0;
        }
    }


    /* Transform Toogle as Checkboxes */
    --toggle-border-width: 1px;
    --toggle-width: calc(var(--toggle-thumb-height) + var(--toggle-border-width) * 2);
    --toggle-radius: 0;
    --toggle-thumb-radius: 0;
    --toggle-thumb-color: transparent;
    .checkbox-container {
        border: var(--toggle-border-width) solid var(--fate-color);
    }
    .checkbox-container.is-enabled {
        --toggle-thumb-color: var(--fate-color);
    }
    .checkbox-container::after,
    .checkbox-container.is-enabled::after,
    .checkbox-container.is-enabled:active::after {
        transition: none;
        left: 0;
        right: 0;
        transform: none;
        margin: 0;
    }




    /* Tracking sheet */
    .callout[data-callout="fate-npc"] {
        --callout-blend-mode: normal;
        --callout-border-width: 1px;
        --callout-color: var(--fate-color-rgb);
        --callout-icon: lucide-user;
        --callout-padding: var(--size-4-2);
        --callout-radius: 0;
        --callout-title-background: var(--fate-color-rgb);
        --callout-title-size: var(--font-text-size);

        --table-border-width: 0px;
        --table-header-border-width: 0px;
        --table-column-first-border-width: 0px;
        --table-column-last-border-width: 0px;
        --table-row-last-border-width: 0px;

        padding: 0;
        position: relative;
        
        .callout {
            --callout-color: var(--fate-color-rgb);
            padding: 0;
            --callout-blend-mode: normal;
            background: var(--background-primary);
        }

        .callout-title {
            background-color: rgb(var(--callout-color));
            color: var(--text-normal);
            text-transform: uppercase;
            padding: var(--callout-padding);
            justify-content: center;

            .callout-icon svg {
                color: inherit;
            }

        }

        .callout-content {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: var(--size-4-3);
            padding: var(--callout-padding);
        }

        
        .callout-content > *:not(.callout),
        .callout[data-callout="fate-other"] {
            grid-column: 1 / -1;
        }

        .callout {
            margin: 0;
            --s: 10px;
            clip-path: polygon(var(--s) 0%, 100% 0%, 100% 100%, 0% 100%, 0% var(--s));

            .callout-title {
                --s: calc(10px - var(--callout-border-width));
                clip-path: polygon(var(--s) 0%, 100% 0%, 100% calc(100% - var(--s)), calc(100% - var(--s)) 100%, 0% 100%, 0% var(--s));
            }
        }

        .callout[data-callout="fate-aspects"] {
            --callout-icon: lucide-smile;
        }

        .callout[data-callout="fate-health"] {
            --callout-icon: lucide-heart-pulse;
        }

        .callout[data-callout="fate-other"] {
            --callout-icon: lucide-plus;
        }

        table {
            margin: 0 auto;
        }

        /* "Taken out" toggle */
        p:has(code > .mb-input-type-toggle.npc-out) {
            --callout-icon: lucide-skull;
            --h-line-height: calc(var(--line-height-tight) * var(--callout-title-size) + var(--callout-padding) * 2);
            position: absolute;
            left: calc(var(--toggle-border-width) + var(--size-4-2));
            top: calc(var(--h-line-height) * 0.5);
            transform: translateY(-50%);
            margin: 0;

            code { padding: 0; }
            .checkbox-container {  border: var(--toggle-border-width) solid var(--text-normal); }
        }
        .npc-out .checkbox-container.is-enabled {
            --toggle-thumb-color: var(--color-red);
        }

        &:has(.npc-out .is-enabled){
            .callout-icon svg { display: none; }
            .callout-icon {
                width: var(--icon-size);
                height: var(--icon-size);
                position: relative;
            }
            .callout-icon::after {
                content: "";
                position: absolute;
                top: 1px;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-skull"><path d="m12.5 17-.5-1-.5 1h1z"/><path d="M15 22a1 1 0 0 0 1-1v-1a2 2 0 0 0 1.56-3.25 8 8 0 1 0-11.12 0A2 2 0 0 0 8 20v1a1 1 0 0 0 1 1z"/><circle cx="15" cy="12" r="1"/><circle cx="9" cy="12" r="1"/></svg>');
                -webkit-mask-size: 100%;
                -webkit-mask-position: 50% 50%;
                -webkit-mask-repeat: no-repeat;
                background-color: var(--text-muted);
            }
            .callout-content {
                height: 0px;
                overflow: hidden;
                padding: 0;
            }
        }
        &:has(.npc-out .is-enabled),
        &:has(.npc-out .is-enabled) .callout-title {
            color: var(--text-muted);
        }
        .npc-out .checkbox-container {
            transform: translateY(calc(var(--toggle-border-width) * 2));
        }
    }


}

