/* GPLv3 license
Flexcyon - Extended color palette
Author: bladeacer (@data_in_void in Discord)
*/

div.callout[data-callout-metadata*=all-red-blue],
div.callout[data-callout-metadata*=bg-red-blue] {
  background-color: var(--color-red-blue-mix-bg);
}

div.callout[data-callout-metadata*=all-red-blue] .callout-title,
div.callout[data-callout-metadata*=all-red-blue] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-red-blue] .callout-title,
div.callout[data-callout-metadata*=title-red-blue] .callout-icon .svg-icon {
  color: var(--color-red-blue-mix);
}

div.callout[data-callout-metadata*=all-blue-red],
div.callout[data-callout-metadata*=bg-blue-red] {
  background-color: var(--color-red-blue-mix-bg);
}

div.callout[data-callout-metadata*=all-blue-red] .callout-title,
div.callout[data-callout-metadata*=all-blue-red] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-blue-red] .callout-title,
div.callout[data-callout-metadata*=title-blue-red] .callout-icon .svg-icon {
  color: var(--color-red-blue-mix);
}

div.callout[data-callout-metadata*=all-red-orange],
div.callout[data-callout-metadata*=bg-red-orange] {
  background-color: var(--color-red-orange-mix-bg);
}

div.callout[data-callout-metadata*=all-red-orange] .callout-title,
div.callout[data-callout-metadata*=all-red-orange] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-red-orange] .callout-title,
div.callout[data-callout-metadata*=title-red-orange] .callout-icon .svg-icon {
  color: var(--color-red-orange-mix);
}

div.callout[data-callout-metadata*=all-orange-red],
div.callout[data-callout-metadata*=bg-orange-red] {
  background-color: var(--color-red-orange-mix-bg);
}

div.callout[data-callout-metadata*=all-orange-red] .callout-title,
div.callout[data-callout-metadata*=all-orange-red] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-orange-red] .callout-title,
div.callout[data-callout-metadata*=title-orange-red] .callout-icon .svg-icon {
  color: var(--color-red-orange-mix);
}

div.callout[data-callout-metadata*=all-red-yellow],
div.callout[data-callout-metadata*=bg-red-yellow] {
  background-color: var(--color-red-yellow-mix-bg);
}

div.callout[data-callout-metadata*=all-red-yellow] .callout-title,
div.callout[data-callout-metadata*=all-red-yellow] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-red-yellow] .callout-title,
div.callout[data-callout-metadata*=title-red-yellow] .callout-icon .svg-icon {
  color: var(--color-red-yellow-mix);
}

div.callout[data-callout-metadata*=all-yellow-red],
div.callout[data-callout-metadata*=bg-yellow-red] {
  background-color: var(--color-red-yellow-mix-bg);
}

div.callout[data-callout-metadata*=all-yellow-red] .callout-title,
div.callout[data-callout-metadata*=all-yellow-red] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-yellow-red] .callout-title,
div.callout[data-callout-metadata*=title-yellow-red] .callout-icon .svg-icon {
  color: var(--color-red-yellow-mix);
}

div.callout[data-callout-metadata*=all-red-green],
div.callout[data-callout-metadata*=bg-red-green] {
  background-color: var(--color-red-green-mix-bg);
}

div.callout[data-callout-metadata*=all-red-green] .callout-title,
div.callout[data-callout-metadata*=all-red-green] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-red-green] .callout-title,
div.callout[data-callout-metadata*=title-red-green] .callout-icon .svg-icon {
  color: var(--color-red-green-mix);
}

div.callout[data-callout-metadata*=all-green-red],
div.callout[data-callout-metadata*=bg-green-red] {
  background-color: var(--color-red-green-mix-bg);
}

div.callout[data-callout-metadata*=all-green-red] .callout-title,
div.callout[data-callout-metadata*=all-green-red] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-green-red] .callout-title,
div.callout[data-callout-metadata*=title-green-red] .callout-icon .svg-icon {
  color: var(--color-red-green-mix);
}

div.callout[data-callout-metadata*=all-red-cyan],
div.callout[data-callout-metadata*=bg-red-cyan] {
  background-color: var(--color-red-cyan-mix-bg);
}

div.callout[data-callout-metadata*=all-red-cyan] .callout-title,
div.callout[data-callout-metadata*=all-red-cyan] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-red-cyan] .callout-title,
div.callout[data-callout-metadata*=title-red-cyan] .callout-icon .svg-icon {
  color: var(--color-red-cyan-mix);
}

div.callout[data-callout-metadata*=all-cyan-red],
div.callout[data-callout-metadata*=bg-cyan-red] {
  background-color: var(--color-red-cyan-mix-bg);
}

div.callout[data-callout-metadata*=all-cyan-red] .callout-title,
div.callout[data-callout-metadata*=all-cyan-red] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-cyan-red] .callout-title,
div.callout[data-callout-metadata*=title-cyan-red] .callout-icon .svg-icon {
  color: var(--color-red-cyan-mix);
}

div.callout[data-callout-metadata*=all-red-purple],
div.callout[data-callout-metadata*=bg-red-purple] {
  background-color: var(--color-red-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-red-purple] .callout-title,
div.callout[data-callout-metadata*=all-red-purple] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-red-purple] .callout-title,
div.callout[data-callout-metadata*=title-red-purple] .callout-icon .svg-icon {
  color: var(--color-red-purple-mix);
}

div.callout[data-callout-metadata*=all-purple-red],
div.callout[data-callout-metadata*=bg-purple-red] {
  background-color: var(--color-red-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-purple-red] .callout-title,
div.callout[data-callout-metadata*=all-purple-red] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-purple-red] .callout-title,
div.callout[data-callout-metadata*=title-purple-red] .callout-icon .svg-icon {
  color: var(--color-red-purple-mix);
}

div.callout[data-callout-metadata*=all-red-pink],
div.callout[data-callout-metadata*=bg-red-pink] {
  background-color: var(--color-red-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-red-pink] .callout-title,
div.callout[data-callout-metadata*=all-red-pink] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-red-pink] .callout-title,
div.callout[data-callout-metadata*=title-red-pink] .callout-icon .svg-icon {
  color: var(--color-red-pink-mix);
}

div.callout[data-callout-metadata*=all-pink-red],
div.callout[data-callout-metadata*=bg-pink-red] {
  background-color: var(--color-red-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-pink-red] .callout-title,
div.callout[data-callout-metadata*=all-pink-red] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-pink-red] .callout-title,
div.callout[data-callout-metadata*=title-pink-red] .callout-icon .svg-icon {
  color: var(--color-red-pink-mix);
}

div.callout[data-callout-metadata*=all-orange-yellow],
div.callout[data-callout-metadata*=bg-orange-yellow] {
  background-color: var(--color-orange-yellow-mix-bg);
}

div.callout[data-callout-metadata*=all-orange-yellow] .callout-title,
div.callout[data-callout-metadata*=all-orange-yellow] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-orange-yellow] .callout-title,
div.callout[data-callout-metadata*=title-orange-yellow] .callout-icon .svg-icon {
  color: var(--color-orange-yellow-mix);
}

div.callout[data-callout-metadata*=all-yellow-orange],
div.callout[data-callout-metadata*=bg-yellow-orange] {
  background-color: var(--color-orange-yellow-mix-bg);
}

div.callout[data-callout-metadata*=all-yellow-orange] .callout-title,
div.callout[data-callout-metadata*=all-yellow-orange] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-yellow-orange] .callout-title,
div.callout[data-callout-metadata*=title-yellow-orange] .callout-icon .svg-icon {
  color: var(--color-orange-yellow-mix);
}

div.callout[data-callout-metadata*=all-orange-green],
div.callout[data-callout-metadata*=bg-orange-green] {
  background-color: var(--color-orange-green-mix-bg);
}

div.callout[data-callout-metadata*=all-orange-green] .callout-title,
div.callout[data-callout-metadata*=all-orange-green] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-orange-green] .callout-title,
div.callout[data-callout-metadata*=title-orange-green] .callout-icon .svg-icon {
  color: var(--color-orange-green-mix);
}

div.callout[data-callout-metadata*=all-green-orange],
div.callout[data-callout-metadata*=bg-green-orange] {
  background-color: var(--color-orange-green-mix-bg);
}

div.callout[data-callout-metadata*=all-green-orange] .callout-title,
div.callout[data-callout-metadata*=all-green-orange] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-green-orange] .callout-title,
div.callout[data-callout-metadata*=title-green-orange] .callout-icon .svg-icon {
  color: var(--color-orange-green-mix);
}

div.callout[data-callout-metadata*=all-orange-cyan],
div.callout[data-callout-metadata*=bg-orange-cyan] {
  background-color: var(--color-orange-cyan-mix-bg);
}

div.callout[data-callout-metadata*=all-orange-cyan] .callout-title,
div.callout[data-callout-metadata*=all-orange-cyan] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-orange-cyan] .callout-title,
div.callout[data-callout-metadata*=title-orange-cyan] .callout-icon .svg-icon {
  color: var(--color-orange-cyan-mix);
}

div.callout[data-callout-metadata*=all-cyan-orange],
div.callout[data-callout-metadata*=bg-cyan-orange] {
  background-color: var(--color-orange-cyan-mix-bg);
}

div.callout[data-callout-metadata*=all-cyan-orange] .callout-title,
div.callout[data-callout-metadata*=all-cyan-orange] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-cyan-orange] .callout-title,
div.callout[data-callout-metadata*=title-cyan-orange] .callout-icon .svg-icon {
  color: var(--color-orange-cyan-mix);
}

div.callout[data-callout-metadata*=all-orange-blue],
div.callout[data-callout-metadata*=bg-orange-blue] {
  background-color: var(--color-orange-blue-mix-bg);
}

div.callout[data-callout-metadata*=all-orange-blue] .callout-title,
div.callout[data-callout-metadata*=all-orange-blue] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-orange-blue] .callout-title,
div.callout[data-callout-metadata*=title-orange-blue] .callout-icon .svg-icon {
  color: var(--color-orange-blue-mix);
}

div.callout[data-callout-metadata*=all-blue-orange],
div.callout[data-callout-metadata*=bg-blue-orange] {
  background-color: var(--color-orange-blue-mix-bg);
}

div.callout[data-callout-metadata*=all-blue-orange] .callout-title,
div.callout[data-callout-metadata*=all-blue-orange] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-blue-orange] .callout-title,
div.callout[data-callout-metadata*=title-blue-orange] .callout-icon .svg-icon {
  color: var(--color-orange-blue-mix);
}

div.callout[data-callout-metadata*=all-orange-purple],
div.callout[data-callout-metadata*=bg-orange-purple] {
  background-color: var(--color-orange-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-orange-purple] .callout-title,
div.callout[data-callout-metadata*=all-orange-purple] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-orange-purple] .callout-title,
div.callout[data-callout-metadata*=title-orange-purple] .callout-icon .svg-icon {
  color: var(--color-orange-purple-mix);
}

div.callout[data-callout-metadata*=all-purple-orange],
div.callout[data-callout-metadata*=bg-purple-orange] {
  background-color: var(--color-orange-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-purple-orange] .callout-title,
div.callout[data-callout-metadata*=all-purple-orange] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-purple-orange] .callout-title,
div.callout[data-callout-metadata*=title-purple-orange] .callout-icon .svg-icon {
  color: var(--color-orange-purple-mix);
}

div.callout[data-callout-metadata*=all-orange-pink],
div.callout[data-callout-metadata*=bg-orange-pink] {
  background-color: var(--color-orange-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-orange-pink] .callout-title,
div.callout[data-callout-metadata*=all-orange-pink] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-orange-pink] .callout-title,
div.callout[data-callout-metadata*=title-orange-pink] .callout-icon .svg-icon {
  color: var(--color-orange-pink-mix);
}

div.callout[data-callout-metadata*=all-pink-orange],
div.callout[data-callout-metadata*=bg-pink-orange] {
  background-color: var(--color-orange-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-pink-orange] .callout-title,
div.callout[data-callout-metadata*=all-pink-orange] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-pink-orange] .callout-title,
div.callout[data-callout-metadata*=title-pink-orange] .callout-icon .svg-icon {
  color: var(--color-orange-pink-mix);
}

div.callout[data-callout-metadata*=all-yellow-green],
div.callout[data-callout-metadata*=bg-yellow-green] {
  background-color: var(--color-yellow-green-mix-bg);
}

div.callout[data-callout-metadata*=all-yellow-green] .callout-title,
div.callout[data-callout-metadata*=all-yellow-green] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-yellow-green] .callout-title,
div.callout[data-callout-metadata*=title-yellow-green] .callout-icon .svg-icon {
  color: var(--color-yellow-green-mix);
}

div.callout[data-callout-metadata*=all-green-yellow],
div.callout[data-callout-metadata*=bg-green-yellow] {
  background-color: var(--color-yellow-green-mix-bg);
}

div.callout[data-callout-metadata*=all-green-yellow] .callout-title,
div.callout[data-callout-metadata*=all-green-yellow] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-green-yellow] .callout-title,
div.callout[data-callout-metadata*=title-green-yellow] .callout-icon .svg-icon {
  color: var(--color-yellow-green-mix);
}

div.callout[data-callout-metadata*=all-yellow-cyan],
div.callout[data-callout-metadata*=bg-yellow-cyan] {
  background-color: var(--color-yellow-cyan-mix-bg);
}

div.callout[data-callout-metadata*=all-yellow-cyan] .callout-title,
div.callout[data-callout-metadata*=all-yellow-cyan] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-yellow-cyan] .callout-title,
div.callout[data-callout-metadata*=title-yellow-cyan] .callout-icon .svg-icon {
  color: var(--color-yellow-cyan-mix);
}

div.callout[data-callout-metadata*=all-cyan-yellow],
div.callout[data-callout-metadata*=bg-cyan-yellow] {
  background-color: var(--color-yellow-cyan-mix-bg);
}

div.callout[data-callout-metadata*=all-cyan-yellow] .callout-title,
div.callout[data-callout-metadata*=all-cyan-yellow] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-cyan-yellow] .callout-title,
div.callout[data-callout-metadata*=title-cyan-yellow] .callout-icon .svg-icon {
  color: var(--color-yellow-cyan-mix);
}

div.callout[data-callout-metadata*=all-yellow-blue],
div.callout[data-callout-metadata*=bg-yellow-blue] {
  background-color: var(--color-yellow-blue-mix-bg);
}

div.callout[data-callout-metadata*=all-yellow-blue] .callout-title,
div.callout[data-callout-metadata*=all-yellow-blue] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-yellow-blue] .callout-title,
div.callout[data-callout-metadata*=title-yellow-blue] .callout-icon .svg-icon {
  color: var(--color-yellow-blue-mix);
}

div.callout[data-callout-metadata*=all-blue-yellow],
div.callout[data-callout-metadata*=bg-blue-yellow] {
  background-color: var(--color-yellow-blue-mix-bg);
}

div.callout[data-callout-metadata*=all-blue-yellow] .callout-title,
div.callout[data-callout-metadata*=all-blue-yellow] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-blue-yellow] .callout-title,
div.callout[data-callout-metadata*=title-blue-yellow] .callout-icon .svg-icon {
  color: var(--color-yellow-blue-mix);
}

div.callout[data-callout-metadata*=all-yellow-purple],
div.callout[data-callout-metadata*=bg-yellow-purple] {
  background-color: var(--color-yellow-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-yellow-purple] .callout-title,
div.callout[data-callout-metadata*=all-yellow-purple] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-yellow-purple] .callout-title,
div.callout[data-callout-metadata*=title-yellow-purple] .callout-icon .svg-icon {
  color: var(--color-yellow-purple-mix);
}

div.callout[data-callout-metadata*=all-purple-yellow],
div.callout[data-callout-metadata*=bg-purple-yellow] {
  background-color: var(--color-yellow-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-purple-yellow] .callout-title,
div.callout[data-callout-metadata*=all-purple-yellow] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-purple-yellow] .callout-title,
div.callout[data-callout-metadata*=title-purple-yellow] .callout-icon .svg-icon {
  color: var(--color-yellow-purple-mix);
}

div.callout[data-callout-metadata*=all-yellow-pink],
div.callout[data-callout-metadata*=bg-yellow-pink] {
  background-color: var(--color-yellow-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-yellow-pink] .callout-title,
div.callout[data-callout-metadata*=all-yellow-pink] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-yellow-pink] .callout-title,
div.callout[data-callout-metadata*=title-yellow-pink] .callout-icon .svg-icon {
  color: var(--color-yellow-pink-mix);
}

div.callout[data-callout-metadata*=all-pink-yellow],
div.callout[data-callout-metadata*=bg-pink-yellow] {
  background-color: var(--color-yellow-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-pink-yellow] .callout-title,
div.callout[data-callout-metadata*=all-pink-yellow] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-pink-yellow] .callout-title,
div.callout[data-callout-metadata*=title-pink-yellow] .callout-icon .svg-icon {
  color: var(--color-yellow-pink-mix);
}

div.callout[data-callout-metadata*=all-green-cyan],
div.callout[data-callout-metadata*=bg-green-cyan] {
  background-color: var(--color-green-cyan-mix-bg);
}

div.callout[data-callout-metadata*=all-green-cyan] .callout-title,
div.callout[data-callout-metadata*=all-green-cyan] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-green-cyan] .callout-title,
div.callout[data-callout-metadata*=title-green-cyan] .callout-icon .svg-icon {
  color: var(--color-green-cyan-mix);
}

div.callout[data-callout-metadata*=all-cyan-green],
div.callout[data-callout-metadata*=bg-cyan-green] {
  background-color: var(--color-green-cyan-mix-bg);
}

div.callout[data-callout-metadata*=all-cyan-green] .callout-title,
div.callout[data-callout-metadata*=all-cyan-green] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-cyan-green] .callout-title,
div.callout[data-callout-metadata*=title-cyan-green] .callout-icon .svg-icon {
  color: var(--color-green-cyan-mix);
}

div.callout[data-callout-metadata*=all-green-blue],
div.callout[data-callout-metadata*=bg-green-blue] {
  background-color: var(--color-green-blue-mix-bg);
}

div.callout[data-callout-metadata*=all-green-blue] .callout-title,
div.callout[data-callout-metadata*=all-green-blue] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-green-blue] .callout-title,
div.callout[data-callout-metadata*=title-green-blue] .callout-icon .svg-icon {
  color: var(--color-green-blue-mix);
}

div.callout[data-callout-metadata*=all-blue-green],
div.callout[data-callout-metadata*=bg-blue-green] {
  background-color: var(--color-green-blue-mix-bg);
}

div.callout[data-callout-metadata*=all-blue-green] .callout-title,
div.callout[data-callout-metadata*=all-blue-green] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-blue-green] .callout-title,
div.callout[data-callout-metadata*=title-blue-green] .callout-icon .svg-icon {
  color: var(--color-green-blue-mix);
}

div.callout[data-callout-metadata*=all-green-purple],
div.callout[data-callout-metadata*=bg-green-purple] {
  background-color: var(--color-green-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-green-purple] .callout-title,
div.callout[data-callout-metadata*=all-green-purple] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-green-purple] .callout-title,
div.callout[data-callout-metadata*=title-green-purple] .callout-icon .svg-icon {
  color: var(--color-green-purple-mix);
}

div.callout[data-callout-metadata*=all-purple-green],
div.callout[data-callout-metadata*=bg-purple-green] {
  background-color: var(--color-green-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-purple-green] .callout-title,
div.callout[data-callout-metadata*=all-purple-green] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-purple-green] .callout-title,
div.callout[data-callout-metadata*=title-purple-green] .callout-icon .svg-icon {
  color: var(--color-green-purple-mix);
}

div.callout[data-callout-metadata*=all-green-pink],
div.callout[data-callout-metadata*=bg-green-pink] {
  background-color: var(--color-green-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-green-pink] .callout-title,
div.callout[data-callout-metadata*=all-green-pink] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-green-pink] .callout-title,
div.callout[data-callout-metadata*=title-green-pink] .callout-icon .svg-icon {
  color: var(--color-green-pink-mix);
}

div.callout[data-callout-metadata*=all-pink-green],
div.callout[data-callout-metadata*=bg-pink-green] {
  background-color: var(--color-green-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-pink-green] .callout-title,
div.callout[data-callout-metadata*=all-pink-green] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-pink-green] .callout-title,
div.callout[data-callout-metadata*=title-pink-green] .callout-icon .svg-icon {
  color: var(--color-green-pink-mix);
}

div.callout[data-callout-metadata*=all-cyan-blue],
div.callout[data-callout-metadata*=bg-cyan-blue] {
  background-color: var(--color-cyan-blue-mix-bg);
}

div.callout[data-callout-metadata*=all-cyan-blue] .callout-title,
div.callout[data-callout-metadata*=all-cyan-blue] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-cyan-blue] .callout-title,
div.callout[data-callout-metadata*=title-cyan-blue] .callout-icon .svg-icon {
  color: var(--color-cyan-blue-mix);
}

div.callout[data-callout-metadata*=all-blue-cyan],
div.callout[data-callout-metadata*=bg-blue-cyan] {
  background-color: var(--color-cyan-blue-mix-bg);
}

div.callout[data-callout-metadata*=all-blue-cyan] .callout-title,
div.callout[data-callout-metadata*=all-blue-cyan] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-blue-cyan] .callout-title,
div.callout[data-callout-metadata*=title-blue-cyan] .callout-icon .svg-icon {
  color: var(--color-cyan-blue-mix);
}

div.callout[data-callout-metadata*=all-cyan-purple],
div.callout[data-callout-metadata*=bg-cyan-purple] {
  background-color: var(--color-cyan-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-cyan-purple] .callout-title,
div.callout[data-callout-metadata*=all-cyan-purple] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-cyan-purple] .callout-title,
div.callout[data-callout-metadata*=title-cyan-purple] .callout-icon .svg-icon {
  color: var(--color-cyan-purple-mix);
}

div.callout[data-callout-metadata*=all-purple-cyan],
div.callout[data-callout-metadata*=bg-purple-cyan] {
  background-color: var(--color-cyan-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-purple-cyan] .callout-title,
div.callout[data-callout-metadata*=all-purple-cyan] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-purple-cyan] .callout-title,
div.callout[data-callout-metadata*=title-purple-cyan] .callout-icon .svg-icon {
  color: var(--color-cyan-purple-mix);
}

div.callout[data-callout-metadata*=all-cyan-pink],
div.callout[data-callout-metadata*=bg-cyan-pink] {
  background-color: var(--color-cyan-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-cyan-pink] .callout-title,
div.callout[data-callout-metadata*=all-cyan-pink] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-cyan-pink] .callout-title,
div.callout[data-callout-metadata*=title-cyan-pink] .callout-icon .svg-icon {
  color: var(--color-cyan-pink-mix);
}

div.callout[data-callout-metadata*=all-pink-cyan],
div.callout[data-callout-metadata*=bg-pink-cyan] {
  background-color: var(--color-cyan-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-pink-cyan] .callout-title,
div.callout[data-callout-metadata*=all-pink-cyan] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-pink-cyan] .callout-title,
div.callout[data-callout-metadata*=title-pink-cyan] .callout-icon .svg-icon {
  color: var(--color-cyan-pink-mix);
}

div.callout[data-callout-metadata*=all-blue-purple],
div.callout[data-callout-metadata*=bg-blue-purple] {
  background-color: var(--color-blue-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-blue-purple] .callout-title,
div.callout[data-callout-metadata*=all-blue-purple] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-blue-purple] .callout-title,
div.callout[data-callout-metadata*=title-blue-purple] .callout-icon .svg-icon {
  color: var(--color-blue-purple-mix);
}

div.callout[data-callout-metadata*=all-purple-blue],
div.callout[data-callout-metadata*=bg-purple-blue] {
  background-color: var(--color-blue-purple-mix-bg);
}

div.callout[data-callout-metadata*=all-purple-blue] .callout-title,
div.callout[data-callout-metadata*=all-purple-blue] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-purple-blue] .callout-title,
div.callout[data-callout-metadata*=title-purple-blue] .callout-icon .svg-icon {
  color: var(--color-blue-purple-mix);
}

div.callout[data-callout-metadata*=all-blue-pink],
div.callout[data-callout-metadata*=bg-blue-pink] {
  background-color: var(--color-blue-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-blue-pink] .callout-title,
div.callout[data-callout-metadata*=all-blue-pink] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-blue-pink] .callout-title,
div.callout[data-callout-metadata*=title-blue-pink] .callout-icon .svg-icon {
  color: var(--color-blue-pink-mix);
}

div.callout[data-callout-metadata*=all-pink-blue],
div.callout[data-callout-metadata*=bg-pink-blue] {
  background-color: var(--color-blue-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-pink-blue] .callout-title,
div.callout[data-callout-metadata*=all-pink-blue] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-pink-blue] .callout-title,
div.callout[data-callout-metadata*=title-pink-blue] .callout-icon .svg-icon {
  color: var(--color-blue-pink-mix);
}

div.callout[data-callout-metadata*=all-purple-pink],
div.callout[data-callout-metadata*=bg-purple-pink] {
  background-color: var(--color-purple-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-purple-pink] .callout-title,
div.callout[data-callout-metadata*=all-purple-pink] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-purple-pink] .callout-title,
div.callout[data-callout-metadata*=title-purple-pink] .callout-icon .svg-icon {
  color: var(--color-purple-pink-mix);
}

div.callout[data-callout-metadata*=all-pink-purple],
div.callout[data-callout-metadata*=bg-pink-purple] {
  background-color: var(--color-purple-pink-mix-bg);
}

div.callout[data-callout-metadata*=all-pink-purple] .callout-title,
div.callout[data-callout-metadata*=all-pink-purple] .callout-icon .svg-icon,
div.callout[data-callout-metadata*=title-pink-purple] .callout-title,
div.callout[data-callout-metadata*=title-pink-purple] .callout-icon .svg-icon {
  color: var(--color-purple-pink-mix);
}
